<template>
    <section role="banner">
        <div class="page-header-bg header-bg-cadastro hidden-xs" id="barra" >
            <div class="container">
                <div style="display: block; margin-left: auto; margin-right: auto; width: 785px;">
                    <div class="col-md-12 col-lg-12 container-step" id="container-step">
                        <router-link :to="{ name: 'DetalhaProjetoExecutivo' }">
                            <div class="col-md-1 step" :class="one">
                                <div class="center-step" :class="one"></div>
                                <div class="text-step" :class="tOne" id="text-step1">Projeto</div>
                            </div>
                        </router-link>
                        <div class="col-md-1 inter-step" :class="two"></div>
                        <router-link :to="{ name: 'ContratoExecutivo' }">
                            <div class="col-md-1 step" :class="two">
                                <div class="center-step" :class="two"></div>
                                <div class="text-step" :class="tTwo" id="text-step2">Contrato</div>
                            </div>
                        </router-link>
                        <div class="col-md-1 inter-step" :class="three"></div>
                        <router-link :to="{ name: 'NumerosExecutivo' }">
                            <div class="col-md-1 step" :class="three">
                                <div class="center-step" :class="three"></div>
                                <div class="text-step" :class="tThree" id="text-step3">Datas/Valores</div>
                            </div>
                        </router-link>
                        <div class="col-md-1 inter-step" :class="four"></div>
                        <router-link :to="{ name: 'ExecucaoExecutivo' }">
                            <div class="col-md-1 step" :class="four">
                                <div class="center-step" :class="four"></div>
                                <div class="text-step" :class="tFour" id="text-step4">Execução</div>
                            </div>
                        </router-link>
                        <div class="col-md-1 inter-step" :class="five"></div>
                        <router-link :to="{ name: 'UnidadeExecutivo' }">
                            <div class="col-md-1 step" :class="five">
                                <div class="center-step" :class="five"></div>
                                <div class="text-step" :class="tFive" id="text-step5">Unidade</div>
                            </div>
                        </router-link>
                        <div class="col-md-1 inter-step" :class="six"></div>
                        <router-link :to="{ name: 'EtapaExecutivo' }">
                            <div class="col-md-1 step" :class="six">
                                <div class="center-step" :class="six"></div>
                                <div class="text-step" :class="tSix" id="text-step6">Etapas</div>
                            </div>
                        </router-link>                        
                        <div class="col-md-1 inter-step" :class="seven"></div>
                        <div class="col-md-1 step step-end" :class="seven" id="bola">
                            <div class="center-step center-step-end"></div>
                            <div class="thumbs-up-step" :class="tSeven"><i class="fa fa-thumbs-o-up" aria-hidden="false"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'barra-evolucao',

    props: {
        stepOne: { type: Number, required: false },
        stepTwo: { type: Number, required: false },
        stepThree: { type: Number, required: false },
        stepFour: { type: Number, required: false },
        stepFive: { type: Number, required: false },
        stepSix: { type: Number, required: false },
        stepSeven: { type: Number, required: false },
        textOne: { type: Number, required: false },
        textTwo: { type: Number, required: false },
        textThree: { type: Number, required: false },
        textFour: { type: Number, required: false },
        textFive: { type: Number, required: false },
        textSix: { type: Number, required: false },
        textSeven: { type: Number, required: false },
        contentName: { type: String, required: false },
        contentNumber: { type: Number, required: false }
    },
    computed: {
        one() { if(this.stepOne >= '8') return 'step-done' },
        two() { if(this.stepTwo >= '9') return 'step-done' },
        three() { if(this.stepThree >= '10') return 'step-done' },
        four() { if(this.stepFour >= '11') return 'step-done' },
        five() { if(this.stepFive >= '12') return 'step-done' },
        six() { if(this.stepSix >= '13') return 'step-done' },        
        seven() { if(this.stepSeven >= '14') return 'step-done' },
        tOne() { if(this.textOne >= '8') return 'text-done' },
        tTwo() { if(this.textTwo >= '9') return 'text-done' },
        tThree() { if(this.textThree >= '10') return 'text-done' },
        tFour() { if(this.textFour >= '11') return 'text-done' },
        tFive() { if(this.textFive >= '12') return 'text-done' },
        tSix() { if(this.textSix >= '13') return 'text-done' },        
        tSeven() { if(this.textSeven >= '14') return 'text-done' },
    },
    methods: {
        encolhe() {
           
        }
    },
    created() {
    },
    destroyed() {
    }
}
</script>

<style scoped>
.page-header-bg {
    overflow: hidden;
    position: relative;
    background: #ffffff;
    width: 100%;
}

.container-step {
    display: flex;
    align-items: center;
    height: 90px;
}

.step {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #007863;
    position: relative;
}

.center-step {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #ffffff;
    padding-top: 15px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
}

.text-step {
    padding-top: 34px;
    margin-left: -15px;
    color: #007863;
    font-size: 1.3rem;
}

.step-end {
    width: 64px;
    height: 64px;
}

.center-step-end {
    width: 50px;
    height: 50px;
}

.thumbs-up-step {
    width: 50px;
    height: 50px;
    color: #007863;
    font-size: 35px;
    position: absolute;
    top: 50%;
    right: 36%;
    transform: translateX(50%) translateY(-50%);
}

.text-step-end {
    padding-top: 73px;
    margin-left: -8px;
}

.inter-step {
    width: 85px;
    /* width: 95px; */
    height: 6px;
    background: #007863;
}

.step-done {
    background: #b8bf49;
}

.text-done {
    color: #b8bf49;
}

</style>
