<template>
    <div>
        <section role="modal">
            <div class="modal fade" id="enderecoModal" tabindex="-1" role="dialog" aria-labelledby="enderecoModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="enderecoModalLabel">Endereço</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form>
                                    <div class="row row-field">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="form-group">
                                                <label for="logradouro">Logradouro</label>
                                                <input type="text" name="logradouro" class="form-control" value="" id="logradouro" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="numero">Número</label>
                                                <input type="text" name="numero" class="form-control" value="" id="numero" />
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="bairro">Bairro</label>
                                                <input type="text" name="bairro" class="form-control" value="" id="bairro" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <botao estilo="cancela-modal" rotulo="Cancelar" icone="cancela-modal" 
                                dismiss="modal" @clicado="cancela()" >
                            </botao>
                            <botao estilo="ok-modal" rotulo="Incluir" icone="ok-modal" 
                                @clicado="valida()" >
                            </botao>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="form">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Unidade</h4>
                                <div class="row">
                                    <form>
                                        <div class="row row-field">
                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="proprio">Próprio Municipal</label>
                                                    <select class="form-control">
                                                        <option value="" selected>Escolha</option>
                                                        <option value="" >UPA Central</option>
                                                        <option value="" >UME Maria Patrícia</option>
                                                        <option value="" >Paço Municipal</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                <div class="form-group">
                                                    <label for="">Endereço</label>
                                                    <input type="text" name="endereco" class="form-control" value="" id="endereco" disabled/>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1" style="padding-top: 25px">
                                                <botao estilo="novo-modal" rotulo="" icone="novo-modal" style="float: left"
                                                    toggle="modal" target="#enderecoModal" @clicado="novo()" >
                                                </botao>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="">Bairro</label>
                                                    <input type="text" name="bairro" class="form-control" value="" id="bairro" disabled/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="controller">
            <div class="container footer-controller">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <router-link to="/fonte_basico">
                            <botao estilo="voltar" rotulo="Voltar" icone="voltar" @clicado="anteriorLink()">
                            </botao>
                        </router-link>
                        <router-link to="/etapa_basico">
                            <botao estilo="avancar" rotulo="Avançar" icone="avancar"
                                :iconeDireita="true" @clicado="proximoLink()">
                            </botao>
                        </router-link>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Vue from 'vue';
import Botao from '@/components/shared/botao';

export default {
    name: 'UnidadeBasico',
	
    data() {
        return {
            
            apiErrors: null
        }
    },
    
    methods: {
        
        novo() {
            this.errors.clear();
        },
        valida() {
      		
		},
        inclui(){
           
        },
        cancela(){
            
        },
        edita(parente) {
            
        },
        exclui(parente) {

        },
        anteriorLink() {

        },
        proximoLink() {
            
        }
    },
   
    created() {
        
    },
	
	mounted() {
        window.scrollTo(0, 0);
        jQuery('.modal').on('hidden.bs.modal', (e) => this.cancela());
    },    

    components: {
        botao: Botao
    }
}
</script>

<style scoped>

</style>
