<template>
	<div style="margin-top: -53px;">
		<section role="banner">
			<div class="page-header-bg logo-login" id="header-bg-login">
			</div>
		</section>
		<section role="login">
			<div class="main-container container">
				<div class="row">
					<div class="col-sm-6 col-md-offset-1 col-md-5 col-lg-offset-2 col-lg-4">
						<div class="card card-banner" id="login">
							<div class="container container-login">
								<div class="container container-input" style="font-size: 26px; font-weight: bold; padding-top: 7px;">
									<img src="../../assets/SshdLogo.png" alt="Logotipo SSHD" style="height: 58px; vertical-align: bottom;">
									SSHD
								</div>
								<div class="container container-input">
									Entre com sua conta da prefeitura <br> e faça seu cadastro
								</div>
								<form @submit.prevent="valida">
									<div class="container container-input container-input-text">
										<div class="form-group">
											<label for="username">SSHD</label>
											<div class="input-group">
												<span class="input-group-addon" :class="errorAddonUsername"><i class="fa fa-user-o fa-fw"></i></span>
												<input type="text" name="username" class="form-control form-control-login" :class="errorInputUsername"
													v-validate="'required|min:8|max:8'" data-vv-as="SSHD" v-model="usuario.username"
													value="" id="username" placeholder="X0123456" autofocus="autofocus" />
											</div>
											<span v-show="errors.has('username')" class="error">{{ errors.first('username') }}</span>
										</div>
									</div>
									<div class="container container-input container-input-text" style="padding-top: 0px">
										<div class="form-group">
											<label for="password">Senha</label>
											<div class="input-group">
												<span class="input-group-addon" :class="errorAddonPassword"><i class="fa fa-key fa-fw"></i></span>
												<input type="password" name="password" class="form-control form-control-login" :class="errorInputPassword"
													v-validate="'required'" data-vv-as="Senha" v-model="usuario.password"
													id="password" placeholder="********" />
											</div>
											<span v-show="errors.has('password')" class="error">{{ errors.first('password') }}</span>
										</div>
									</div>
									<div class="container container-input">
										<button type="submit" class="btn btn-block btn-success btn-lg">
											Login
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-5 col-lg-4">
						<div class="card card-default" id="login-description">
							<h3>Cadastro de Projeto</h3>
							<p></p>
							<div>
								Visa coletar informações básicas para viabilizar a aprovação do projeto.
							</div>
							<h3>Projeto Básico</h3>
							<p></p>
							<div>
								Composto por Etapa e duas subseções (Atividades e Dependências de outras 
								Etapas). A subseção Atividades possui duas subseções (Recursos necessários e Dependências de outras atividades).
							</div>
							<h3>Revisão e envio</h3>
							<p></p>
							<div>
								Os dados inseridos são enviados para análise do Escritório de Projetos.
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
    name: 'Login',
    data () {
      	return {
      	    usuario: {
        	    username: '',
				password: '',
				client_id: this.$root.$data.client_id,
				secret: this.$root.$data.secret,
				getCredentials: () => {
					var buffer = new Buffer(this.usuario.client_id + ':' + this.usuario.secret);
					return buffer.toString('base64');
				}
        	},
        	apiErrors: null,
      	}
    },
    methods: {
      	valida() {
      		this.$validator.validateAll().then(success => {
      	    	if(success){
                    this.acessa();
                    return;
      	  	    }
          		this.$root.$refs.toastr.e("Favor informar os campos de usuário e senha");
        	});
		},
		  
        acessa() {
      	    this.apiErrors = null;
  
			this.$http.post('oauth/token', {
					'grant_type': 'password',
					// refresh_token
					'username': this.usuario.username,
					'password': this.usuario.password
				}, {
					headers: {'Authorization': 'Basic ' + this.usuario.getCredentials()},
					emulateJSON: true
				})
			.then(response => {
				this.$root.$refs.toastr.s("Login realizado com sucesso");
				sessionStorage.token = 'Bearer ' + response.body.access_token;
				this.$root.$data.isAuthenticated = true;
				this.obtemUsuario(response.body.access_token);
				this.$router.push('avisos');
				}, 
				response => this.apiErrors = response.body	
			);

		},
		
		obtemUsuario(token) {
			let tokenData = token.split('.');
			let decoded = atob(tokenData[1]);
			let tokenJson = JSON.parse(decoded);
			// valores de 'usuario' passados ao fazer login
			this.$root.$data.usuario.user_name = tokenJson.user_name;
			this.$root.$data.usuario.name = tokenJson.name;
			this.$root.$data.usuario.authorities = tokenJson.authorities;
			this.$root.$data.usuario.firstName = this.obtemPrimeiroNome(tokenJson.name);
			// valores de 'usuario' usados ao atualizar tela
			sessionStorage.user_name = tokenJson.user_name;
			sessionStorage.name = tokenJson.name;
			sessionStorage.authorities = tokenJson.authorities;
			sessionStorage.firstName = this.obtemPrimeiroNome(tokenJson.name);

			return;
		},

		obtemPrimeiroNome(nomeCompleto) {
			if(nomeCompleto) {
                let arrayNome = nomeCompleto.split(' ');
				let primeiroNome = arrayNome[0].toLowerCase();
				// primeira letra maiúscula
				let letras = [...primeiroNome];
				let maiuscula = letras[0].toUpperCase();
				letras.fill(maiuscula, 0, 1);
				let primeiroNomeTratado = letras.join('');

                return primeiroNomeTratado;
            } else {
				return "";
			}
		}
    },
	computed: {
		errorAddonUsername() {
			if(this.errors.has('username')) return 'input-group-addon-error';
		},
		errorInputUsername() {
			if(this.errors.has('username')) return 'form-control-login-error';
		},
		errorAddonPassword() {
			if(this.errors.has('password')) return 'input-group-addon-error';
		},
		errorInputPassword() {
			if(this.errors.has('password')) return 'form-control-login-error';
		},
	}
}
  
</script>

<style scoped >
.page-header-bg {
    overflow: hidden;
    position: relative;
    background: #00302e;
    margin-bottom: 20px;
    width: 100%;
}

.logo-login {
    background-image: url(../../assets/MeuLarLogoTransp.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.card-banner {
    background: #00615c none repeat scroll 0 0;
    overflow: hidden;
}

.card-default h3 {
	font-size: 2.4rem;
}

.container-login {
    max-width: 100%;
    padding: 30px;
    text-align: center;
    color: #d7e7d7;
}

.container-input {
    padding-top: 15px;
    max-width: 100%;
}

.container-input-text {
    text-align: left;
}

.input-group-addon {
    padding: 6px 6px;
    background-color: #FFFFFF;
    border: 1px solid #49a649;
    border-radius: 8px 0px 0px 8px;
    border-right-style: none;
}

.form-control-login {
    padding: 6px 6px;
    height: 40px;
    border: 1px solid #49a649;
    border-radius: 8px;
    border-left-style: none;
    box-shadow: none;
}

.form-control-login:focus, .form-control:focus {
    border-color: #66e9bf;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(22,128,111,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(22,128,111,.6);
}

.input-group-addon-error {
    border: 1px solid gold;
	border-right-style: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}

.form-control-login-error, .form-control-login-error:focus {
    border: 1px solid gold;
	border-left-style: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}

.error {
	/* text-shadow: 0 0 0.2em whitesmoke, 0 0 0.2em whitesmoke; */
	color: gold;
}

.btn-success {
    color: #d7e7d7;
    border-color: #3e8f3e;
    background-color: #419641;
}

.btn-success:hover {
    color: #d7e7d7;
    border-color: #358a3f;
    background-color: #3D873D;
}

.btn-lg {
    border-radius: 8px;
}

.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
}

#header-bg-login {
    height: 215px;
    margin-bottom: 0;
}

#login {
    margin-top: -30px;
    margin-bottom: 30px;
}

#login-description {
    padding-top: 5px;
    border: none;
    box-shadow: none;
}

@media screen and (max-width: 768px) {
    .main-container {
        margin-top: 0px;
    }
}
</style>
