<template>
    <div>
        <section role="form">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Datas Contrato</h4>
                                <div class="row">
                                    <form>
                                        <div class="row row-field">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Assinatura <small>(Contrato)</small></label>
                                                    <date-picker v-model="dataCalendario" name="dataNascimento" id="dataNascimento" :config="config"></date-picker>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Vigência</label>
                                                    <date-picker v-model="dataCalendario" name="dataNascimento" id="dataNascimento" :config="config"></date-picker>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="eixo">Vigência <small>(Meses)</small></label>
                                                    <input type="text" name="eixo" class="form-control" value="" id="eixo" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-field">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Prazo Final</label>
                                                    <date-picker v-model="dataCalendario" name="dataNascimento" id="dataNascimento" :config="config"></date-picker>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Homologação</label>
                                                    <date-picker v-model="dataCalendario" name="dataNascimento" id="dataNascimento" :config="config"></date-picker>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Assinatura <small>(Convênio)</small></label>
                                                    <date-picker v-model="dataCalendario" name="dataNascimento" id="dataNascimento" :config="config"></date-picker>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Datas Execução</h4>
                                <div class="row">
                                    <form>
                                        <div class="row row-field">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Entrega</label>
                                                    <date-picker v-model="dataCalendario" name="dataNascimento" id="dataNascimento" :config="config"></date-picker>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Equipagem</label>
                                                    <date-picker v-model="dataCalendario" name="dataNascimento" id="dataNascimento" :config="config"></date-picker>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="eixo">Inauguração</label>
                                                    <date-picker v-model="dataCalendario" name="eixo" id="dataNascimento" :config="config"></date-picker>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Valores</h4>
                                <div class="row">
                                    <form>
                                        <div class="row row-field">
                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="numero">Contrapartida</label>
                                                    <input type="text" name="eixo" class="form-control" value="" id="eixo" />
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="numero">Repasse</label>
                                                    <input type="text" name="eixo" class="form-control" value="" id="eixo" />
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="eixo">Valor Inicial <small>(Contrato)</small></label>
                                                    <input type="text" name="eixo" class="form-control" value="" id="eixo" />
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="eixo">Valor Total <small>(Obra)</small></label>
                                                    <input type="text" name="eixo" class="form-control" value="" id="eixo" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="controller">
            <div class="container footer-controller">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <botao estilo="voltar" rotulo="Voltar" icone="voltar" @clicado="anteriorLink()">
                        </botao>
                        <botao estilo="avancar" rotulo="Avançar" icone="avancar"
                            :iconeDireita="true" @clicado="proximoLink()">
                        </botao>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Vue from 'vue'
import moment from 'moment'
import Botao from '@/components/shared/botao'

export default {
    name: 'FonteBasico',
	
    data() {
        return {
            
            dataCalendario: new Date(),
            config: {
                format: 'L',
                useCurrent: false,
                locale: 'pt-br',
                maxDate: moment(new Date()),
                minDate: moment(new Date()).add(-100, 'years')
            },
            apiErrors: null
        }
    },
    
    methods: {
        
        novo() {
            this.errors.clear();
        },
        valida() {
      		
		},
        inclui(){
           
        },
        cancela(){
            
        },
        edita(parente) {
            
        },
        exclui(parente) {

        },
        anteriorLink() {
            this.$router.go(-1)
        },
        
        proximoLink() {
            this.$router.push({name: 'ExecucaoExecutivo'});
        }
    },
   
    created() {
        
    },
	
	mounted() {
        window.scrollTo(0, 0);
        jQuery('.modal').on('hidden.bs.modal', (e) => this.cancela());
    },    

    components: {
        botao: Botao
    }
}
</script>

<style scoped>
.card {
    overflow: visible;
}
</style>
