<template>
    <div>
        <section role="form">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Projeto Básico</h4>
                                <div class="row">
                                    <form>
                                        <div class="row row-field">
                                            <field-validation cssClass="col-md-9 col-sm-9" label="Título" field="nome" 
                                                :status="errors" :custom-errors="apiErrors">
                                                    <input type="text" name="nome" id="nome" class="form-control" autofocus="autofocus"
                                                        placeholder="Título do projeto" v-validate="'required|max:50'" data-vv-as="Título"/>
                                            </field-validation>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="numero">Número</label>
                                                    <input type="text" name="numero" class="form-control" value="" id="numero"
                                                        disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label for="descritivo">Descritivo</label>
                                                    <textarea name="descritivo" class="form-control" value="" id="descritivo" rows="5"
                                                        placeholder="Texto memorando, que permite a explicação da motivação do projeto. Deve ser o mais amplo possível e abordar informações sobre o escopo do projeto."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="controller">
            <div class="container footer-controller">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
						<router-link to="/projeto_basico">
                            <botao estilo="voltar" rotulo="Voltar" icone="voltar" @clicado="anteriorLink()">
                            </botao>
                        </router-link>
                        <botao estilo="avancar" icone="avancar" :iconeDireita="true"
                            rotulo="Avançar" @clicado="valida()">
                        </botao>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Botao from '@/components/shared/botao';

export default {
    name: 'Projeto',
    
    data() {
        return {
            
            apiErrors: null
        }
    },
	
    methods: {
        valida() {
      		this.$validator.validateAll().then(success => {
      	    	if(success) {
                    this.proximoLink();
                    return;
      	  	    } 
          		this.$root.$refs.toastr.e("Favor preencher ou corrigir os campos em vermelho");
        	});
        },    
        anteriorLink() {
        
        },
        proximoLink() {
            
            this.$router.push('/fonte_basico');
        }
    },

    created() {
        
    },
	
	mounted() {
        window.scrollTo(0, 0);
    },

    computed: {
        
    },

    components: {
        botao: Botao
	}
}
</script>

<style scoped>
.card {
    overflow: visible;
}
</style>
