<template>
    <section role="form">
        <div class="main-container container container-top">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <div class="card-content">
                            <h4>Projetos</h4>
                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <div class="form-group">
                                        <input type="text" name="titulo" class="form-control" value="" id="titulo"
                                            placeholder="Título" />
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <div class="form-group">
                                        <input type="text" name="unidade" class="form-control" value="" id="unidade"
                                            placeholder="Unidade" />
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1" style="padding-bottom: 25px">
                                    <botao estilo="novo-modal" rotulo="Buscar" icone="buscar" style="float: left"
                                        toggle="modal" target="#planoGovernoModal" @clicado="novo()" >
                                    </botao>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <!-- <div class="alert alert-warning" role="alert" style="text-align: center"
                                    v-if="dependencias.length == 0">
                                    <i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;
                                    Para incluir um veículo, clique em NOVO.
                                </div>        -->
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Unidade</th>
                                        <th>Valor</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr >
                                            <td>Projeto MeuLar</td>
                                            <td>DEGEPAT</td>
                                            <td>1.000.000,00</td>
                                            <td class="td-btns td-btns-alone">
                                                <botao estilo="editar-tabela" icone="editar-tabela"
                                                    toggle="" target="" @clicado="edita()" >
                                                </botao>
                                                
                                            </td>
                                        </tr>
                                        <tr >
                                            <td>Interligação Unidades Caruara</td>
                                            <td>SESERP</td>
                                            <td>1.200.000,00</td>
                                            <td class="td-btns-alone">
                                                <botao estilo="editar-tabela" icone="editar-tabela"
                                                    toggle="" target="" @clicado="edita()" >
                                                </botao>
                                                
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                <div class="col-md-12 footer-controller">
                                    <router-link to="/projeto_basico/detalha_projeto">
                                        <botao estilo="novo-modal" rotulo="Novo" icone="novo-modal"
                                            toggle="" target="" @clicado="novo()" >
                                        </botao>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Vue from 'vue';
import Botao from '@/components/shared/botao';
import moment from 'moment';

export default {
    name: 'ListaEtapas',

    data() {
        return {
            
            apiErrors: null
        }
    },

    methods: {
        novo() {
            
        },
        valida() {
      		
		},        
        inclui() {
            
        },
        cancela() {
            
        }, 
        edita() {
            
            this.$router.push('/projeto_basico/detalha_projeto')
        },
        exclui() {
            

        },       
        obtemVeiculos() {
            
        }          
    },

    created() {
        
    },

    mounted(){
    },  

    components: {
        botao: Botao
    }      
}
</script>