<template>
    <div>
        <section role="form">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Atividade</h4>
                                <div class="row">
                                    <form>
                                        <div class="row row-field">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Descrição</label>
                                                    <input type="text" name="titulo" class="form-control" value="Cabeamento" id="titulo"/>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="">Prazo de execução</label>
                                                    <input type="text" name="titulo" class="form-control" value="30 dias" id="titulo"/>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="checkbox-default">
                                                    <label for="marcoProjeto">Marco de Projeto</label>
                                                    <br>
                                                    <input type="checkbox" name="marcoProjeto" id="marcoProjeto" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="observacoes">Observações</label>
                                                    <textarea name="observacoes" class="form-control" id="observacoes" rows="3"
                                                        value="Cabo CAT6, 30000m cor azul, 20000m cor vermelha."></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="descritivo">Fatores Críticos de Sucesso</label>
                                                    <textarea name="descritivo" class="form-control" id="descritivo" rows="3"
                                                        value=""></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="table">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <lista-recursos-componente></lista-recursos-componente>
                            </div>
                        </div>
                    </div>
                                      
                </div>
            </div>
        </section>
        <section role="table">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <lista-dependencias-componente></lista-dependencias-componente>
                            </div>
                        </div>
                    </div>
                                      
                </div>
            </div>
        </section>
    
        <section role="controller">
            <div class="container footer-controller">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <botao estilo="voltar" icone="voltar" 
                            rotulo="Voltar" @clicado="anteriorLink()">
                        </botao>
                        <botao estilo="avancar" icone="ok-modal" 
                            rotulo="Confirmar" @clicado="proximoLink()">
                        </botao>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Botao from '@/components/shared/botao';
// import moment from 'moment';
import DependenciasComponente from './lista-dependencias-atividade.vue';
import RecursosComponente from './lista-recursos.vue';

export default {
    name: 'Bens',

    data() {
        return {
            apiErrors: null
        }
    },
	
    methods: {
        anteriorLink() {
            this.$router.go(-1)
        },
        proximoLink() {
            this.$router.push({name: 'EtapaExecutivo'})
        }
    },

	mounted() {
		window.scrollTo(0, 0);
    },
    components: {
        botao: Botao,
        'lista-dependencias-componente': DependenciasComponente,
        'lista-recursos-componente': RecursosComponente
    }
}
</script>

<style scoped>

</style>
