<template>
    <div>
        <side-modal titulo="Dependência" subtitulo="Etapa" subtDetalhe="Entrega de Material"
            identidade="dependencia-side" largura="1100"
            @fundoEscuro="escureceFundo()" @fundoClaro="clareiaFundo()" >
            <div class="row row-field">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                    <label for="vinculada">Etapa Vinculada</label>
                    <select class="form-control">
                        <option>Escolha</option>
                        <option>Entrega de material</option>
                        <option>Instalação</option>
                    </select>
                </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="texto">Para que esta etapa seja realizada, a etapa acima deve </label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="checkbox-default">
                        <label >estar iniciada</label>
                        <br>
                        <input type="radio" name="estar" id="estar1" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="checkbox-default">
                        <label >estar concluída</label>
                        <br>
                        <input type="radio" name="estar" id="estar2" />
                    </div>
                </div>
            </div>
        </side-modal>
        <section role="form">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Etapa</h4>
                                <div class="row">
                                    <form>
                                        <div class="row row-field">
                                            <div class="col-md-9 col-sm-9">
                                                <div class="form-group">
                                                    <label for="">Título</label>
                                                    <input type="text" name="titulo" class="form-control" value="Entrega de material" id="titulo" />
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="checkbox-default">
                                                    <label for="marcoProjeto">Marco de Projeto</label>
                                                    <br>
                                                    <input type="checkbox" name="marcoProjeto" id="marcoProjeto" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="table">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <lista-atividades-componente></lista-atividades-componente>
                            </div>
                        </div>
                    </div>
                                      
                </div>
            </div>
        </section>
        <section role="table">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <lista-dependencias-componente @abre="abreSideModal()"></lista-dependencias-componente>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="controller">
            <div class="container footer-controller">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <botao estilo="voltar" icone="voltar" 
                            rotulo="Voltar" @clicado="anteriorLink()">
                        </botao>
                        <botao estilo="avancar" icone="ok-modal" 
                            rotulo="Confirmar" @clicado="proximoLink()">
                        </botao>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Botao from '@/components/shared/botao';
// import moment from 'moment';
import DependenciasComponente from './lista-dependencias.vue';
import AtividadesComponente from './lista-atividades.vue';
import SideModal from '@/components/shared/side-modal'

export default {
    name: 'Bens',

    data() {
        return {
            apiErrors: null
        }
    },
	
    methods: {
        openSide() {
            document.querySelector('#dependencia-side').style.right = '0'
            // document.body.style.backgroundColor = "rgba(0,0,0,0.4)"
        },
        closeSide() {
            document.querySelector('#dependencia-side').style.right = '-625px'
            // document.body.style.backgroundColor = "rgba(0,0,0,0)"
        },
        anteriorLink() {
            this.$router.go(-1)
        },
        proximoLink() {
            this.$router.push({name: 'EtapaExecutivo'})
        },
        abreSideModal() {
            this.$emit('sideModal')
        },
        escureceFundo () {
            this.$emit ('escureceDiv')
        },
        clareiaFundo () {
            this.$emit ('clareiaDiv')
        }
    },

	mounted() {
		window.scrollTo(0, 0);
    },
    components: {
        botao: Botao,
        'lista-dependencias-componente': DependenciasComponente,
        'lista-atividades-componente': AtividadesComponente,
        'side-modal': SideModal
    }
}
</script>
