<template>
    <div>
        <h4>Atividades</h4>
        <div class="table-responsive">
            <!-- <div class="alert alert-warning" role="alert" style="text-align: center"
                v-if="dependencias.length == 0">
                <i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;
                Para incluir um veículo, clique em NOVO.
            </div>        -->
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Prazo</th>
                    <th>Valor</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>Cabeamento</td>
                        <td>12/02/2018</td>
                        <td>20.000,00</td>
                        <td class="td-btns">
                            <botao estilo="editar-tabela" icone="editar-tabela"
                                toggle="" target="" @clicado="edita()" >
                            </botao>
                            <botao estilo="exclui-tabela" icone="exclui-tabela" 
                                @clicado="exclui()" >
                            </botao>
                        </td>
                    </tr>
                    <tr >
                        <td>Switches</td>
                        <td>12/03/2018</td>
                        <td>70.000,00</td>
                        <td class="td-btns">
                            <botao estilo="editar-tabela" icone="editar-tabela"
                                toggle="" target="" @clicado="edita()" >
                            </botao>
                            <botao estilo="exclui-tabela" icone="exclui-tabela" 
                                @clicado="exclui()" >
                            </botao>
                        </td>
                    </tr>
                    <tr >
                        <td>Racks</td>
                        <td>12/04/2018</td>
                        <td>10.000,00</td>
                        <td class="td-btns">
                            <botao estilo="editar-tabela" icone="editar-tabela"
                                toggle="" target="" @clicado="edita()" >
                            </botao>
                            <botao estilo="exclui-tabela" icone="exclui-tabela" 
                                @clicado="exclui()" >
                            </botao>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12 footer-controller">
                <botao estilo="novo-modal" rotulo="Novo" icone="novo-modal"
                    toggle="" target="" @clicado="edita()" >
                </botao>
            </div>
        </div>
    </div>
</template>
<script>
import Vue from 'vue';
import Botao from '@/components/shared/botao';
import moment from 'moment';

export default {
    name: 'ListaEtapas',

    data() {
        return {
            apiErrors: null
        }
    },

    methods: {
        novo() {
            
        },
        valida() {
      		
		},        
        inclui() {
            
        },
        cancela() {
           
        }, 
        edita() {
            this.$router.push({name: 'DetalhaAtividadeExecutivo'})
        },
        exclui() {
            

        },       
        obtemVeiculos() {
            
        }          
    },

    created() {
       
    },

    mounted(){
        jQuery('#dependenciaModal').on('hidden.bs.modal', (e) => this.cancela());
    },  

    components: {
        botao: Botao
    }      
}
</script>