<template>
    <section role="side-modal">
        <div :id="identidade" class="side-modal">
            <div class="side-content">
                <div class="side-header">
                    <div class="side-close" aria-label="Close" @click="closeSide()">
                        <div class="side-close-circle">
                            <div class="side-close-x">
                                <div class="side-close-x1"></div>
                                <div class="side-close-x2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="side-title" :id="`${identidade}-label`">{{ titulo }}</div>
                </div>
                <div class="side-subtitle" :id="`${identidade}-sublabel`">{{ subtitulo }}
                    <p>{{ subtDetalhe }}</p>
                </div>
                <div class="side-body">
                    <div class="row">
                        <form @submit.prevent="valida()">
                            <!-- Slot para inserir 'rows' com os campos do modal -->
                            <slot></slot>
                        </form>
                    </div>
                </div>
                <div class="side-footer">
                    <botao estilo="cancela-side" rotulo="Cancelar" icone="cancela-modal" 
                        @clicado="closeSide()" >
                    </botao>
                    <botao estilo="ok-side" rotulo="Incluir" icone="ok-modal" tipo="submit" >
                    </botao>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Botao from '@/components/shared/botao'

export default {
    name: 'SideModal',

    props: {
        identidade: {
            required: true,
            type: String
        },
        titulo: {
            required: true,
            type: String
        },
        subtitulo: {
            required: false,
            type: String
        },
        subtDetalhe: {
            required: false,
            type: String
        },
        largura: {
            required: false,
            type: String
        }
    },
    methods: {
        openSide () {
            document.querySelector(`#${this.identidade}`).style.right = '0'
            this.$emit ('fundoEscuro')
        },
        closeSide () {
            document.querySelector(`#${this.identidade}`).style.right = '-900px'
            this.$emit ('fundoClaro')
        }
    },
    components: {
        botao: Botao
    },
    computed: {
        largAtributo () {
            return `${this.largura}px`
        },
        // Cálculo da posição do componente para ser escondido por completo
        larguraCalc () {
            if (this.largura) return '-' + (this.largura + 25) + 'px'
            return '-625px'
        }
    },
    created () {
        this.$parent.$on ('sideModal', this.openSide)
    },
    mounted () {
        if (this.largura) {
            document.querySelector(`#${this.identidade}`).style.width = '1100px'
            document.querySelector(`#${this.identidade}`).style.right = '-1100px'
        }
    }
}
</script>

<style scoped>

.side-modal {
    height: 100vh;
    width: 600px; 
    position: fixed; 
    z-index: 2000; 
    top: 0px; 
    right: -625px;
    background-color: #ffffff;
    overflow-x: hidden; /* Disable horizontal scroll */
    box-shadow: 5px 0px 20px #444444;
    transition: 1s; 
}
.side-header {
    display: flex;
}
.side-content {
    padding: 15px;
}
.side-title {
    display: inline-block;
    color: #cccccc;
    font-weight: 800;
    font-size: 5rem;
    letter-spacing: -0.3rem;
    text-transform: uppercase;
}
.side-subtitle {
    margin: 0px 42px 15px;
    font-size: 3.2rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
}
.side-subtitle p {
    color: #888888;
    font-size: 2.2rem;
    font-weight: normal;
    letter-spacing: 0rem;
}
.side-close {
    display: flex;
    align-items: center;
    margin-right: 12px; 
}
.side-close-circle {
    background: transparent;
    height: 27px;
    width: 27px;
    border: 3px solid #fabbc8;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
}
.side-close-x {
    display: inline-block;
    transform: translate(3.5px, 8px)
}
.side-close-x1 {
    background-color: firebrick;
    width: 13px;
    height: 3px;
    transform: rotate(45deg) translate(1px, 0px);
}
.side-close-x2 {
    background-color: firebrick;
    width: 13px;
    height: 3px;
    transform: rotate(-45deg) translate(2px, -1px)
}
.side-body {
    border-bottom: 1px solid #e8f0dd;
    padding: 10px 0px 15px;
    margin: 15px 42px;
}
.side-footer {
    margin: 25px 42px;
}
</style>
