<template>
	<header id="navbar" role="banner" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8 hidden-xs">
                    <router-link class="navbar-brand navbar-brand-topo" to="/" title="Início">Prefeitura de Santos</router-link>
                </div>
		        <div class="col-xs-8 visible-xs">
                    <router-link class="navbar-brand navbar-brand-topo-xs" to="/" title="Início">Prefeitura de Santos</router-link>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs" v-show="autenticado">
                    <div class="menu-header">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false">
                                    <span v-if="usuario">Olá {{ usuario }} &nbsp;</span>
                                    <span v-else>Olá {{ sshd }} &nbsp;</span>
                                    <i class="fa fa-navicon fa-lg" ></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><router-link to="/manutencao">
                                        <i class="fa fa-user-o fa-fw" aria-hidden="true"></i>&nbsp; Conta
                                    </router-link></li>
                                    <li><router-link to="/sair">
                                        <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; Sair
                                    </router-link></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-4 visible-xs" v-show="autenticado">
                    <div class="menu-header menu-header-xs">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fa fa-navicon fa-2x" ></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><router-link to="/perfil">
                                        <i class="fa fa-user-o fa-fw" aria-hidden="true"></i>&nbsp; Conta
                                    </router-link></li>
                                    <li><router-link to="/sair">
                                        <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; Sair
                                    </router-link></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </header>
</template>

<script>

export default {
    name: 'barra-navegacao',

    props: {
        autenticado: {
            type: Boolean
        },
        rotas: {
            type: Array,
            required: true
        },
        usuario: {
            type: String,
            required: false
        },
        sshd: {
            type: String,
            required: false
        }
    },

    components: {
    }
  
}
</script>

<style scoped>
.front .navbar {
    margin-bottom: 0px;
    min-height: 53px;
    position: relative;
}

.navbar-default {
    background: #00615c none repeat scroll 0 0;
    border-color: #00615c;
    border-bottom: 1px solid #004f4a;
    color: #ffffff;
    border-radius: 0;
}

.navbar .row {
    /* border-bottom: 1px solid #004f4a; */
    margin: 0;
}

.navbar-brand-topo {
    background-image: url(../../../assets/LogoPMS.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center left;
    text-indent: -999px;
    width: 100%;
}

.navbar-brand-topo-xs {
    background-image: url(../../../assets/MeuLarLogoTransp.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    text-indent: -999px;
    width: 100%;
    height: 53px;
    margin-left: -25px;
}

.navbar-default .navbar-nav>li>a {
    color: #d7e7d7;
    font-size: 15px;
    font-weight: bold;
}

.navbar-fixed-top {
    border-width: thin;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:active {
    background-color: rgba(0,0,0,0);
    color: #d7e7d7;
}

.dropdown-menu > li > a {
    color: #468B35;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #A1BE4D;
    background-color: #eefceb;
}

.menu-header {
    background: #358a3f;
    margin-right: -15px;
    float: right;
    padding-right: 15px;
}

.menu-header-xs {
    background: transparent;
    padding-left: 15px;
    margin-right: -25px;
    margin-top: -5px;
    max-height: 53px;
}

#navbar {
    margin-bottom: 0;
    min-height: 53px;
}
</style>
