<template>
    <div>
        <section role="modal">
            <div class="modal fade" id="enderecoModal" tabindex="-1" role="dialog" aria-labelledby="enderecoModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="enderecoModalLabel">Endereço</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form>
                                    <div class="row row-field">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="form-group">
                                                <label for="logradouro">Logradouro</label>
                                                <input type="text" name="logradouro" class="form-control" value="" id="logradouro" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="numero">Número</label>
                                                <input type="text" name="numero" class="form-control" value="" id="numero" />
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="bairro">Bairro</label>
                                                <input type="text" name="bairro" class="form-control" value="" id="bairro" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <botao estilo="cancela-modal" rotulo="Cancelar" icone="cancela-modal" 
                                dismiss="modal" @clicado="cancela()" >
                            </botao>
                            <botao estilo="ok-modal" rotulo="Incluir" icone="ok-modal" 
                                @clicado="valida()" >
                            </botao>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="modal">
            <div class="modal fade" id="planoGovernoModal" tabindex="-1" role="dialog" aria-labelledby="planoGovernoModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="planoGovernoModalLabel">Plano de Governo</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form>
                                    <div class="row row-field">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="form-group">
                                                <label for="acao">Ação</label>
                                                <input type="text" name="acao" class="form-control" value="" id="acao" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="empenho">Empenho</label>
                                                <input type="text" name="empenho" class="form-control" value="" id="empenho" />
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="objetivo">Objetivo</label>
                                                <input type="text" name="objetivo" class="form-control" value="" id="objetivo" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <botao estilo="cancela-modal" rotulo="Cancelar" icone="cancela-modal" 
                                dismiss="modal" @clicado="cancela()" >
                            </botao>
                            <botao estilo="ok-modal" rotulo="Incluir" icone="ok-modal" 
                                @clicado="valida()" >
                            </botao>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="form">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Unidade</h4>
                                <div class="row">
                                    <form>
                                        <div class="row row-field">
                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="proprio">Próprio Municipal</label>
                                                    <select class="form-control">
                                                        <option value="" selected>Escolha</option>
                                                        <option value="" >UPA Central</option>
                                                        <option value="" >UME Maria Patrícia</option>
                                                        <option value="" >Paço Municipal</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                <div class="form-group">
                                                    <label for="">Endereço</label>
                                                    <input type="text" name="endereco" class="form-control" value="" id="endereco" disabled/>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1" style="padding-top: 25px">
                                                <botao estilo="novo-modal" rotulo="" icone="novo-modal" style="float: left"
                                                    toggle="modal" target="#enderecoModal" @clicado="novo()" >
                                                </botao>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="">Bairro</label>
                                                    <input type="text" name="bairro" class="form-control" value="" id="bairro" disabled/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Fonte</h4>
                                <div class="row">
                                    <form>
                                        <div class="row row-field">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="SecretariaResponsavel">Secretaria Responsável</label>
                                                    <select class="form-control">
                                                        <option value="" selected>Escolha</option>
                                                        <option value="" >SEFIN</option>
                                                        <option value="" >SEGES</option>
                                                        <option value="" >SECULT</option>
                                                        <option value="" >SMS</option>  
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <div class="form-group">
                                                    <label for="">Gestor</label>
                                                    <select class="form-control">
                                                        <option value="" selected>Escolha</option>
                                                        <option value="" >Jeferson Amin</option>
                                                        <option value="" >Josiane Vargas</option>
                                                        <option value="" >Silmara Nascimento</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-5 col-sm-5">
                                                <div class="form-group">
                                                    <label for="">Plano de Governo</label>
                                                    <select class="form-control">
                                                        <option value="" selected>Escolha</option>
                                                        <option value="" >Plano Nacional de ...</option>
                                                        <option value="" >... para Todos</option>
                                                        <option value="" >Plano de Fomento ao ...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-1" style="padding-top: 25px">
                                                <botao estilo="novo-modal" rotulo="" icone="novo-modal" style="float: left"
                                                    toggle="modal" target="#planoGovernoModal" @clicado="novo()" >
                                                </botao>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="eixo">Eixo</label>
                                                    <input type="text" name="eixo" class="form-control" value="" id="eixo"
                                                        disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="controller">
            <div class="container footer-controller">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <botao estilo="voltar" rotulo="Voltar" icone="voltar" @clicado="anteriorLink()">
                        </botao>
                        <botao estilo="avancar" rotulo="Avançar" icone="avancar"
                            :iconeDireita="true" @clicado="proximoLink()">
                        </botao>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Vue from 'vue'
import Botao from '@/components/shared/botao'
import moment from 'moment'

export default {
    name: 'UnidadeBasico',
	
    data() {
        return {
            
            apiErrors: null
        }
    },
    
    methods: {
        
        novo() {
            this.errors.clear();
        },
        
        anteriorLink() {
            this.$router.go(-1)
        },
        
        proximoLink() {
            this.$router.push({name: 'EtapaExecutivo'});
        }
    },
   
    created() {
        
    },
	
	mounted() {
        window.scrollTo(0, 0);
        jQuery('.modal').on('hidden.bs.modal', (e) => this.cancela());
    },    

    components: {
        botao: Botao
    }
}
</script>

<style scoped>

</style>
