<template>
    <div>
        <section role="modal">
            <div class="modal fade" id="empresasModal" tabindex="-1" role="dialog" aria-labelledby="empresasModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="empresasModalLabel">Empresas</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form>
                                    <div class="row row-field">
                                        <div class="col-md-9 col-sm-9">
                                            <div class="form-group">
                                                <input type="text" name="titulo" class="form-control" value="" id="titulo"
                                                    placeholder="Nome" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3" style="padding-bottom: 25px">
                                            <botao estilo="novo-modal" rotulo="Buscar" icone="buscar" style="float: left"
                                                toggle="modal" target="#planoGovernoModal" @clicado="novo()" >
                                            </botao>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="table-responsive">
                                            <!-- <div class="alert alert-warning" role="alert" style="text-align: center"
                                                v-if="dependencias.length == 0">
                                                <i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;
                                                Para incluir um veículo, clique em NOVO.
                                            </div>        -->
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th style="text-align: center">Seleção</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr >
                                                        <td>Embraport Empresa Brasileira Terminais Portuários</td>
                                                        <td class="td-btns td-btns-alone" style="text-align: center">
                                                            <input type="checkbox" name="marcoProjeto" id="empresa4" />
                                                        </td>
                                                    </tr>
                                                    <tr >
                                                        <td>Fagmax Transportes - Transportadora de Santos/SP</td>
                                                        <td class="td-btns td-btns-alone" style="text-align: center">
                                                            <input type="checkbox" name="marcoProjeto" id="empresa5" />
                                                        </td>
                                                    </tr>
                                                    <tr >
                                                        <td>Construtora Miramar</td>
                                                        <td class="td-btns td-btns-alone" style="text-align: center">
                                                            <input type="checkbox" name="marcoProjeto" id="empresa6" />
                                                        </td>
                                                    </tr>
                                                    <tr >
                                                        <td>Kallas Construtora e Incorp.</td>
                                                        <td class="td-btns td-btns-alone" style="text-align: center">
                                                            <input type="checkbox" name="marcoProjeto" id="empresa7" />
                                                        </td>
                                                    </tr>
                                                    <tr >
                                                        <td>BKO Incorporadora</td>
                                                        <td class="td-btns td-btns-alone" style="text-align: center">
                                                            <input type="checkbox" name="marcoProjeto" id="empresa8" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="col-md-12 footer-controller">
                                                <span class="col-md-2" 
                                                    style="color: #63605d; font-weight: 900; padding-left: 0; ">
                                                    Pág. 1
                                                </span>
                                                <span class="col-md-8" style="color: #63605d; font-weight: 900; text-align: center">
                                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;
                                                    <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;
                                                    1 de 120 &nbsp;
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;
                                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                </span>
                                                <botao estilo="novo-modal" rotulo="Novo" icone="novo-modal"
                                                    toggle="" target="" @clicado="edita()" >
                                                </botao>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <botao estilo="cancela-modal" rotulo="Cancelar" icone="cancela-modal" 
                                dismiss="modal" @clicado="cancela()" >
                            </botao>
                            <botao estilo="ok-modal" rotulo="Incluir" icone="ok-modal" 
                                @clicado="valida()" >
                            </botao>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="form">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Execução</h4>
                                <div class="row">
                                    <form>
                                        <div class="row row-field">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Ordem de Serviço</label>
                                                    <input type="text" name="numero" class="form-control" value="" id="numero" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Recurso Obra</label>
                                                    <input type="text" name="numero" class="form-control" value="" id="numero" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Recurso Equipagem</label>
                                                    <input type="text" name="numero" class="form-control" value="" id="numero" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-field">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Recurso Monitoramento</label>
                                                    <input type="text" name="numero" class="form-control" value="" id="numero" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Recurso Climatização</label>
                                                    <input type="text" name="numero" class="form-control" value="" id="numero" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Recurso Comunicação Visual</label>
                                                    <input type="text" name="numero" class="form-control" value="" id="numero" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4 style="margin-bottom: 14px">Empresas Envolvidas</h4>
                                <div class="table-responsive">
                                    <!-- <div class="alert alert-warning" role="alert" style="text-align: center"
                                        v-if="dependencias.length == 0">
                                        <i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;
                                        Para incluir um veículo, clique em NOVO.
                                    </div>        -->
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Responsável</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr >
                                                <td>Ubiratan Empreendimentos Ltda</td>
                                                <td><input type="checkbox" name="marcoProjeto" id="empresa1" 
                                                    v-model="empresa1" @change="escolhe1()" /></td>
                                                <td class="td-btns td-btns-alone">
                                                    <botao estilo="exclui-tabela" icone="exclui-tabela"
                                                        toggle="modal" target="#empresasModal" @clicado="edita()" >
                                                    </botao>
                                                    
                                                </td>
                                            </tr>
                                            <tr >
                                                <td>Trimmc Ultracargo</td>
                                                <td><input type="checkbox" name="empresa" id="empresa2" 
                                                    v-model="empresa2" @change="escolhe2()" /></td>
                                                <td class="td-btns-alone">
                                                    <botao estilo="exclui-tabela" icone="exclui-tabela"
                                                        toggle="modal" target="#empresasModal" @clicado="edita()" >
                                                    </botao>
                                                    
                                                </td>
                                            </tr>
                                            <tr >
                                                <td>Votorantin Metalurgia S.A.</td>
                                                <td><input type="checkbox" name="empresa" id="empresa3" 
                                                    v-model="empresa3" @change="escolhe3()" /></td>
                                                <td class="td-btns-alone">
                                                    <botao estilo="exclui-tabela" icone="exclui-tabela"
                                                        toggle="modal" target="#empresasModal" @clicado="edita()" >
                                                    </botao>
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-md-12 footer-controller">
                                        <botao estilo="novo-modal" rotulo="Novo" icone="novo-modal"
                                            toggle="modal" target="#empresasModal" @clicado="edita()" >
                                        </botao>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="controller">
            <div class="container footer-controller">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <botao estilo="voltar" rotulo="Voltar" icone="voltar" @clicado="anteriorLink()">
                        </botao>
                        <botao estilo="avancar" rotulo="Avançar" icone="avancar"
                            :iconeDireita="true" @clicado="proximoLink()">
                        </botao>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Vue from 'vue';
import Botao from '@/components/shared/botao';

export default {
    name: 'FonteBasico',
	
    data() {
        return {
            empresa1: true,
            empresa2: false,
            empresa3: false,
            apiErrors: null
        }
    },
    
    methods: {
        
        novo() {
            this.errors.clear();
        },
        valida() {
      		
		},
        inclui(){
           
        },
        cancela(){
            
        },
        edita(parente) {
            
        },
        exclui(parente) {

        },
        escolhe1() {
            this.empresa1 = true
            this.empresa2 = false
            this.empresa3 = false   
        },
        escolhe2() {
            this.empresa1 = false
            this.empresa2 = true
            this.empresa3 = false   
        },
        escolhe3() {
            this.empresa1 = false
            this.empresa2 = false
            this.empresa3 = true   
        },
        anteriorLink() {
            this.$router.go(-1)
        },
        
        proximoLink() {
            this.$router.push({name: 'UnidadeExecutivo'});
        }
    },
   
    created() {
        
    },
	
	mounted() {
        window.scrollTo(0, 0);
        jQuery('.modal').on('hidden.bs.modal', (e) => this.cancela());
    },    

    components: {
        botao: Botao
    }
}
</script>

<style scoped>

</style>
