<template>
    <div>
        <section role="modal">
            <div class="modal fade" id="atividadesModal" tabindex="-1" role="dialog" aria-labelledby="atividadesModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="atividadesModalLabel">Atividades</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form>
                                    <div class="row row-field">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>Descrição</th>
                                                        <th>Prazo</th>
                                                        <th>Valor</th>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr >
                                                            <td>Cabeamento</td>
                                                            <td>12/02/2018</td>
                                                            <td>20.000,00</td>
                                                            <td class="td-btns td-btns-alone">
                                                                <botao estilo="editar-tabela" icone="revisar" dismiss="modal"
                                                                    toggle="modal" target="#recursosModal" @clicado="edita()" >
                                                                </botao>
                                                            </td>
                                                        </tr>
                                                        <tr >
                                                            <td>Switches</td>
                                                            <td>12/03/2018</td>
                                                            <td>70.000,00</td>
                                                            <td class="td-btns td-btns-alone">
                                                                <botao estilo="editar-tabela" icone="revisar" dismiss="modal"
                                                                    toggle="modal" target="#recursosModal" @clicado="edita()" >
                                                                </botao>
                                                            </td>
                                                        </tr>
                                                        <tr >
                                                            <td>Racks</td>
                                                            <td>12/04/2018</td>
                                                            <td>10.000,00</td>
                                                            <td class="td-btns td-btns-alone">
                                                                <botao estilo="editar-tabela" icone="revisar" dismiss="modal"
                                                                    toggle="modal" target="#recursosModal" @clicado="edita()" >
                                                                </botao>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-field">
                                        <div class="col-md-12 col-sm-12">
                                            <h4>Dependências</h4>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>Etapa</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr >
                                                            <td>Assinatura de contrato</td>
                                                        </tr>
                                                        <tr >
                                                            <td>Instalação</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <botao estilo="cancela-modal" rotulo="Cancelar" icone="cancela-modal" 
                                dismiss="modal" @clicado="cancela()" >
                            </botao>
                        </div>
                    </div>
                </div>
            </div>            
        </section>
        <section role="inner-modal">
            <div class="modal fade" id="recursosModal" tabindex="-1" role="dialog" aria-labelledby="recursosModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="recursosModalLabel">Recursos</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form>
                                    <div class="row row-field">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Tipo</th>
                                                            <th>Quantidade</th>
                                                            <th>Unidade</th>
                                                            <th>Valor</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr >
                                                            <td>Equipamento</td>
                                                            <td>15.000</td>
                                                            <td>metros</td>
                                                            <td>6.000,00</td>
                                                        </tr>
                                                        <tr >
                                                            <td>Equipamento</td>
                                                            <td>35.000</td>
                                                            <td>metros</td>
                                                            <td>14.000,00</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-field">
                                        <div class="col-md-12 col-sm-12">
                                            <h4>Dependências</h4>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>Etapa</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr >
                                                            <td>Assinatura de contrato</td>
                                                        </tr>
                                                        <tr >
                                                            <td>Instalação</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <botao estilo="cancela-modal" rotulo="Cancelar" icone="cancela-modal" 
                                toggle="modal" target="#atividadesModal" dismiss="modal" @clicado="cancela()" >
                            </botao>
                        </div>
                    </div>
                </div>
            </div>            
        </section>
        <section role="form">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Revisão e Envio</h4>
                                <div class="row">
                                    <form>
                                        <div class="row row-field">
                                            <div class="col-md-8 col-sm-8">
                                                <div class="form-group">
                                                    <label for="titulo">Título</label>
                                                    <p>Interligação Unidades Caruara</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Número</label>
                                                    <p>38293</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label for="titulo">Descritivo</label>
                                                    <p>Unidades de Saúde em Caruara - Santos - SP que fazem atendimento a 
                                                        população dessa região e que estão devidamente ativos e credenciados 
                                                        no Ministério da Saúde no plano de atendimento primário e prioritário à população. 
                                                        Além de obter informações sobre unidades de saúde em Caruara, você pode entrar 
                                                        em contato pelo telefone com o unidade de saúde da sua preferência que seja mais 
                                                        próximo da sua casa, ou, até mesmo comparecer pessoalmente à unidade para obter o 
                                                        atendimento médico que você precisa.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="SecretariaResponsavel">Secretaria Responsável</label>
                                                    <p>SESERP</p>
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                <div class="form-group">
                                                    <label for="">Gestor</label>
                                                    <p>Josiane Vargas</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="">Plano de Governo</label>
                                                    <p>Plano Nacional de ...</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <label for="proprio">Próprio Municipal</label>
                                                    <p>Regional da Área Continental</p>
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                <div class="form-group">
                                                    <label for="">Endereço</label>
                                                    <p>Rua Andrade Soares s/n</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="">Bairro</label>
                                                    <p>Caruara</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <h4>Etapas</h4>
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>Nome</th>
                                                            <th>Prazo</th>
                                                            <th>Valor</th>
                                                            <th>&nbsp;</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr >
                                                                <td>Entrega de material</td>
                                                                <td>12/04/2018</td>
                                                                <td>100.000,00</td>
                                                                <td class="td-btns td-btns-alone">
                                                                    <botao estilo="editar-tabela" icone="revisar"
                                                                        toggle="modal" target="#atividadesModal" @clicado="edita()" >
                                                                    </botao>
                                                                </td>
                                                            </tr>
                                                            <tr >
                                                                <td>Instalação</td>
                                                                <td>12/07/2018</td>
                                                                <td>120.000,00</td>
                                                                <td class="td-btns td-btns-alone">
                                                                    <botao estilo="editar-tabela" icone="revisar"
                                                                        toggle="modal" target="#atividadesModal" @clicado="edita()" >
                                                                    </botao>
                                                                </td>
                                                            </tr>
                                                            <tr >
                                                                <td>Homologação</td>
                                                                <td>12/12/2018</td>
                                                                <td>60.000,00</td>
                                                                <td class="td-btns td-btns-alone">
                                                                    <botao estilo="editar-tabela" icone="revisar"
                                                                        toggle="modal" target="#atividadesModal" @clicado="edita()" >
                                                                    </botao>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section role="controller">
            <div class="container footer-controller">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="col-md-offset-3 col-md-2">
                            <div class="col-md-12">
                                <botao 
                                    estilo="grande" 
                                    icone="voltar" 
                                    rotulo="Voltar" 
                                    @clicado="anteriorLink()">
                                </botao>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12">
                                <botao estilo="grande" icone="fa-send" 
                                    rotulo="Enviar" @clicado="proximoLink()">
                                </botao>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12">
                                <botao 
                                    estilo="grande" 
                                    icone="fa-print" 
                                    rotulo="Imprimir" 
                                    @clicado="imprimeComprovante()">
                                </botao>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>

import Botao from '@/components/shared/botao';
import moment from 'moment';

export default {
    name: 'RevisaoBasico',
    
    data() {
        return {
            
            apiErrors: null
        }
    },
	
    methods: {
        
        valida() {
      		
        },
        edita() {

        },
        anteriorLink() {
            this.$router.go(-1)
        },
        proximoLink() {
            
        }
    },
    created() {
        
    },
	mounted() {
		window.scrollTo(0, 0);
    },
    components: {
        botao: Botao
    }
}
</script>

<style scoped>

</style>
