<template>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header">
				<div class="row">
				<div class="pull-left"><h4>Página em construção &nbsp;<i class="fa fa-cog fa-spin fa-lg" aria-hidden="true"></i></h4></div>
				<div class="pull-right"><img src="../../assets/MeuLarLogoTransp.png"></div>
				<div class="clearfix"></div>
				</div>	
			</div>
			<div>A página que você esta tentando acessar não foi construída ou está em manutenção. Volte mais tarde, por favor.</div>
		</div>
	</div>
</template>

<script >
	export default {
    name: 'notfound'
  }
</script>

<style scoped>
	.panel-default{
	max-width: 600px;
	margin: auto;
	margin-top: 3%
}
img{
	max-width: 100px;
}
.page-header{
	margin-top: 0;
	padding: 5px 15px;
}
.pull-left{
	font-weight: bold;
	line-height: 30px;
    vertical-align: bottom;
}

</style>
