<template>
    <div id="modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{config.title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form>
                            <div class="col-md-12">
                                <p>{{message}}</p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <botao 
                        estilo="ok-modal"  
                        icone="ok-modal" 
                        :rotulo="config.labelYes"
                        @clicado="yes()" >
                    </botao>
                    <botao
                        estilo="cancela-modal"
                        icone="cancela-modal"
                        dismiss="modal"
                        :rotulo="config.labelNo"
                        @clicado="no()" >
                    </botao>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Botao from '@/components/shared/botao';
 
export default {
    name: "Modal",
    data() {
        return {
            message: '',
            config: {}
        }
    },
    methods: {
        confirm(message, config = {}) {
            this.message = message
            config.title = config.title ? config.title : 'Alerta' 
            config.labelYes = config.labelYes ? config.labelYes : 'Sim' 
            config.labelNo = config.labelNo ? config.labelNo : 'Não' 
            
            this.config = config;
            jQuery('#modal').modal('show');
        },
        yes(){
            jQuery('#modal').modal('hide');
            if (this.config.yes) { this.config.yes() }
        },
        no(){
            if (this.config.no) { this.config.no() }
        }
    },
    components: {
        botao: Botao
    }
}
</script>
