<template>
	<button 
        :type="'' ? 'button' : tipo" 
        class="btn" :class="estiloBotao" 
        :data-toggle="toggle" 
        :data-target="target" 
        :data-dismiss="dismiss" 
        @click="dispara()">
        <i class="fa" :class="iconeBotao" v-show="!iconeDireita"></i>
        {{ rotulo }}
        <i class="fa" :class="iconeBotao" v-show="iconeDireita"></i>
	</button>
</template>

<script>
export default {

	props: {
        tipo: {
            required: false,
            type: String
        },
        estilo: {
            required: true,
            type: String
        },
        rotulo: {
            required: false,
            default: "",
            type: String
        }, 
        icone: {
            required: false,
            default: "",
            type: String
        }, 
        toggle: {
            required: false,
            default: "",
            type: String
        },
        target: {
            required: false,
            default: "",
            type: String
        },
        dismiss: {
            required: false,
            default: "",
            type: String
        },
        iconeDireita: {
            required: false,
            default: false,
            type: Boolean
        }
    },
	methods: {
		dispara() {
			this.$emit('clicado');
		}
	},
	computed: {
		estiloBotao() {
			if(this.estilo == 'grande') return 'btn-primary btn-subscribe btn-lg';
			if(this.estilo == 'ok-modal') return 'btn-primary';
			if(this.estilo == 'cancela-modal') return 'btn-default';
            if(this.estilo == 'novo-modal') return 'btn-primary btn-next';
            if(this.estilo == 'ok-side') return 'btn-primary side-btn-primary';
            if(this.estilo == 'cancela-side') return 'btn-default side-btn-default';
            if(this.estilo == 'exclui-tabela') return 'btn-danger btn-sm';
            if(this.estilo == 'editar-tabela') return 'btn-default btn-sm';
            if(this.estilo == 'voltar') return 'btn-primary btn-previous';
            if(this.estilo == 'avancar') return 'btn-primary btn-next';
		},

        iconeBotao() {
			if(this.icone == 'ok-modal') return 'fa-check';
            if(this.icone == 'cancela-modal') return 'fa-ban';
            if(this.icone == 'novo-modal') return 'fa-file-o';
            if(this.icone == 'exclui-tabela') return 'fa-trash fa-lg';
            if(this.icone == 'editar-tabela') return 'fa-pencil fa-lg';
            if(this.icone == 'voltar') return 'fa-caret-left fa-lg';
            if(this.icone == 'avancar') return 'fa-caret-right fa-lg';
            if(this.icone == 'buscar') return 'fa-search';
            if(this.icone == 'revisar') return 'fa-eye fa-lg';
            else return this.icone;
        }
	}
}
</script>

<style scoped>

.btn-lg {
    border-radius: 8px;
}

.btn-sm {
    border-radius: 6px;

}

.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
}

.btn-default {
    color: #959595;
    border: 2px solid;
    border-radius: 6px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-default:hover, .btn-default:hover:focus {
    background: transparent;
    border: 2px solid;
    color: #63605d;
    text-transform: uppercase;
}

.btn-default:active, .btn-default:focus, .btn-default:target, .btn-default:active:focus {
    background: #959595;
    border-color: #3d3d3d;
    color: #fff;
}

.btn-danger {
    background: transparent;
    border: 2px solid;
    border-radius: 6px;
    color: #8C1E26;
}

.btn-danger:hover {
    background: transparent;
    border: 2px solid;
    color: #BB8261;
}

.btn-primary {
    background: transparent;
    color: #468B35;
    border: 2px solid;
    border-radius: 6px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:hover:focus {
    background: transparent;
    border: 2px solid;
    color: #A1BE4D;
    text-transform: uppercase;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:target, .btn-primary:active:focus {
    background-color: #468b35;
    border-color: #044742;
    color: #fff;
}

.side-btn-default {
    background-color: #dddddd;
    border-color: #dddddd;
    color: #777777;
}

.side-btn-primary {
    background-color: #468B35;
    border-color: #468B35;
    color: #ffffff;
}

.btn-next {
    float: right;
}

.btn-previous {
    float: left;
}

.btn-success {
    color: #d7e7d7;
    border-color: #3e8f3e;
    background-color: #419641;
}

.btn-success:hover {
    color: #d7e7d7;
    border-color: #358a3f;
    background-color: #3D873D;
}

.btn-subscribe {
    display: block;
	margin: auto;
}

.btn-print {
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
