Avançar, Voltar (tipo, estilo, icone, texto) (url)

<a role="button" value="" class="btn btn-primary btn-previous" href="layout_index_gest.html" >
    <i class="fa fa-caret-left fa-lg"></i>
    Voltar
</a>
<a role="button" value="" class="btn btn-primary btn-next" href="layout_familiar.html" >
    Avançar
    <i class="fa fa-caret-right fa-lg"></i>
</a>

ModalIncluir, ModalCancelar (tipo, icone, texto) '(url)?'

<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
<button type="button" class="btn btn-primary"><i class="fa fa-check"></i>Incluir</button>

TabelaEditar, TabelaExcluir (tipo, icone, estilo) (url/id)

<button type="button" class="btn btn-default btn-sm">
    <i class="fa fa-pencil fa-lg"></i>
</button>
<button type="button" class="btn btn-danger btn-sm">
    <i class="fa fa-trash fa-lg"></i>
</button>

ModalNovo (tipo, estilo, icone, texto) (url)

<button type="button" class="btn btn-primary btn-next" data-toggle="modal" data-target="#contaBancoModal">
    <i class="fa fa-file-o"></i>
    Novo
</button>

Grande (tipo, estilo) (url, icone, texto)

<a role="button" value="" class="btn btn-primary btn-subscribe btn-lg" href="layout_pessoa.html" >
    <i class="fa fa-address-card-o"></i>
    Inscrição
</a>