<template>
  <div class="container">
    <div>
  	  <div>
  	    <h3 style="text-align: center"  >Perfil</h3>
  	  </div>
  	  <div style="text-align: center">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
					Página em desenvolvimento! 
  	  </div>
  	</div>
				<botao 
            estilo="voltar" 
            icone="voltar" 
            rotulo="Voltar" 
            @clicado="anteriorLink()">
        </botao>
  </div>
</template>
<script>
import Botao from '@/components/shared/botao'

export default {
	name: 'Perfil',
	
	data() {
		return {
			step: 7
		}
	},
	created() {
		this.$root.$data.stepNumber = this.step;
	},
	mounted() {
		window.scrollTo(0, 0);
	},
	components: {
        botao: Botao
    },
	methods: {
        anteriorLink() {
            this.$router.push('planta');
        }
	},
	
}
</script>


