<template>
	<div>
		<div class="overlay" ></div>
		<ajax-intercept @finish="finish" ></ajax-intercept>
		<barra-navegacao :autenticado="auth" :rotas="routes" :usuario="this.$root.$data.usuario.firstName" 
			:sshd="this.$root.$data.usuario.user_name">
		</barra-navegacao>
        <barra-menu v-show="auth" :rotas="routes" :projetosVisitado="projetosVisited" 
			:cadastroVisitado="cadastroVisited" :relatoriosVisitado="relatoriosVisited" 
			:configuracaoVisitado="configuracaoVisited"></barra-menu>
		<barra-evolucao-basico v-show="stepVisibleBasico" :stepOne="number" :stepTwo="number" :stepThree="number" 
			:stepFour="number" :stepFive="number" :stepSix="number" :stepSeven="number" 
			:textOne="number" :textTwo="number" :textThree="number" :textFour="number" 
			:textFive="number" :textSix="number" :textSeven="number" 
			:contentNumber="number" :contentName="stepName">
		</barra-evolucao-basico>
		<barra-evolucao-executivo v-show="stepVisibleExecutivo" :stepOne="number" :stepTwo="number" :stepThree="number" 
			:stepFour="number" :stepFive="number" :stepSix="number" :stepSeven="number" 
			:textOne="number" :textTwo="number" :textThree="number" :textFour="number" 
			:textFive="number" :textSix="number" :textSeven="number" 
			:contentNumber="number" :contentName="stepName">
		</barra-evolucao-executivo>
		<transition name="fade" mode="out-in">
			<router-view @escureceDiv="escurece()" @clareiaDiv="clareia()"></router-view>
		</transition>
		<rodape v-show="auth" id="footer"/>
	</div>
</template>

<script>

import rodape from '@/components/shared/rodape'
import ajaxIntercept from 'vue-ajax-intercept'
import barraNavegacao from '@/components/shared/barra-navegacao'
import barraEvolucaoBasico from '@/components/shared/barra-evolucao-basico'
import barraEvolucaoExecutivo from '@/components/shared/barra-evolucao-executivo'
import barraMenu from '@/components/shared/barra-menu'

export default {
	name: 'app',

	components: { 
		rodape,
		'ajax-intercept': ajaxIntercept, 
		'barra-navegacao': barraNavegacao,
		'barra-evolucao-basico': barraEvolucaoBasico,
		'barra-evolucao-executivo': barraEvolucaoExecutivo,
        'barra-menu': barraMenu
	},

	data() {
		return{
			routes: this.$router.options.routes,
		}
	},

	computed: {
		auth() {
	  		return this.$root.$data.isAuthenticated;
		},
		stepVisibleBasico() {
			return this.$root.$data.isAuthenticated && this.$route.meta.stepNumber > 0 
				&& this.$route.meta.stepNumber < 8
		},
		stepVisibleExecutivo() {
			return this.$root.$data.isAuthenticated && this.$route.meta.stepNumber > 7
		},
		number() {
			return this.$route.meta.stepNumber;
		},
		stepName() {
			return this.$route.name;
		},
		projetosVisited() {
			return this.$route.meta.projetosActive;
		},
		cadastroVisited() {
			return this.$route.meta.cadastroActive;
		},
		relatoriosVisited() {
			return this.$route.meta.relatoriosActive;
		},
		configuracaoVisited() {
			return this.$route.meta.configuracaoActive;
		}
  	},

	methods: {
		finish (param) {
			var data = {};

			try{
				data = JSON.parse(param.responseText);
				var buffer = new Buffer(data.access_token, 'base64').toString('ascii');
			}
			catch(e){ }

			if (param.status == 400 && data.error_description === 'Bad credentials') {
				this.$root.$refs.toastr.e("Senha ou usuário inválidos");
				this.$root.$data.isAuthenticated = false;
				sessionStorage.token = '';
				this.$router.push('/')
				return;
			}

			if (param.status == 401 && data.error_description.endsWith('have any privileges')) {
				this.$root.$refs.toastr.e("Usuário sem permissão de acesso ao sistema. Contate seu gestor.");
				this.$root.$data.isAuthenticated = false;
				sessionStorage.token = '';
				this.$router.push('/')
				return;
			}

			if (param.status == 401) {
				this.$root.$refs.toastr.e(data.message);
				this.$root.$data.isAuthenticated = false;
				sessionStorage.token = '';
				this.$router.push('/')
				return;
			}

			if (param.status == 403) {
				this.$router.push('/forbidden')
				return;
			}

			if (param.status == 503) {
				this.$router.push('/manutencao')
				return;
			}
		},
		escurece () {
			document.querySelector('.overlay').style.backgroundColor = 'rgba(0,0,0,0.2)'
			document.querySelector('.overlay').style.zIndex = '1990'			
		},
		clareia () {
			document.querySelector('.overlay').style.backgroundColor = 'rgba(0,0,0,0)'
			document.querySelector('.overlay').style.zIndex = '0'			
		}
	},

	updated() {
		this.$root.$data.usuario.firstName;
		this.$root.$data.usuario.user_name;

		return;
	}
}

</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans:600|Open+Sans:700|Open+Sans:800');

* {box-sizing: border-box;}

body, input, textarea, select, button {
    direction: ltr;
    font-feature-settings: "kern";
    text-align: left;
}

body {
    font-family: 'Open Sans', helvetica, sans-serif;
    text-rendering: optimizelegibility;
    color: #697473;
    font-size: 1.4rem;
    line-height: 1.42857143;
    margin: 0;
    display: block;
    padding-top: 106px;
	position: relative;
	min-height: calc(100vh - 111px);
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a, a:hover {
    text-decoration: none;
}

.overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 0;
	transition: 0.5s;
}

.row-field {
	padding-left: 15px;
	padding-right: 15px;
}

.main-container .container {
    position: relative;
}

.container-top {
	padding-top: 20px;
}

.card {
    background: #FFFFFF;
    border: 1px solid rgba(65,76,76,0.20);
    box-shadow: 0 2px 2px 1px #D8D8D8;
    border-radius: 8px;
    overflow: hidden;
    transition: all 180ms ease 0s;
}

.card-default {
    color: #697473;
    margin-bottom: 20px;
}

.card-default h3, h4 {
    color: #00615C;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-default h3 {
	font-size: 1.2rem;
}

.card-default h4 {
	font-size: 1.9rem;
}

.card-content {
    padding: 0px 20px 5px;
}

.fade-enter-active, .fade-leave-active {
  	transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  	opacity: 0
}

/* Form button */

.btn-lg {
	border-radius: 8px;
}

.btn-sm {
	border-radius: 6px;
}

.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-image: none;
}

.btn-default {
	color: #959595;
	border: 2px solid;
	border-radius: 6px;
	font-weight: 400;
	text-transform: uppercase;
}

.btn-default:hover, .btn-default:hover:focus {
	background: transparent;
	border: 2px solid;
	color: #63605d;
	text-transform: uppercase;
}

.btn-default:active, .btn-default:focus, .btn-default:target, .btn-default:active:focus {
	background: #959595;
	border-color: #3d3d3d;
	color: #fff;
}

.btn-danger {
	background: transparent;
	border: 2px solid;
	border-radius: 6px;
	color: #8C1E26;
}

.btn-danger:hover {
	background: transparent;
	border: 2px solid;
	color: #BB8261;
}

.btn-primary {
	background: transparent;
	color: #468B35;
	border: 2px solid;
	border-radius: 6px;
	font-weight: 400;
	text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:hover:focus {
	background: transparent;
	border: 2px solid;
	color: #A1BE4D;
	text-transform: uppercase;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:target, .btn-primary:active:focus {
	background-color: #468b35;
	border-color: #044742;
	color: #fff;
}

.btn-next {
	float: right;
}

.btn-previous {
	float: left;
}

.btn-success {
	color: #d7e7d7;
	border-color: #3e8f3e;
	background-color: #419641;
}

.btn-success:hover {
	color: #d7e7d7;
	border-color: #358a3f;
	background-color: #3D873D;
}

.btn-subscribe {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}

.btn-print {
	margin-top: 60px;
	margin-bottom: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Form input */

input[type=checkbox], input[type=radio] {
    width: 20px;
    height: 20px;
}

.error {
    color: #8C1E26;
}

/* Tables */

.table>tbody>tr>td {
    padding: 4px 8px;
    vertical-align: middle;
}

.td-btns {
    width: 105px;
}

.td-btns-alone {
	width: 86px;
}

.footer-controller {
	padding-bottom: 15px;
}

</style>
