<template>
    <div>
        <section role="form">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Etapa</h4>
                                <div class="row">
                                    <form>
                                        <div class="row row-field">
                                            <div class="col-md-9 col-sm-9">
                                                <div class="form-group">
                                                    <label for="">Título</label>
                                                    <input type="text" name="titulo" class="form-control" value="Entrega de material" id="titulo" />
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="checkbox-default">
                                                    <label for="marcoProjeto">Marco de Projeto</label>
                                                    <br>
                                                    <input type="checkbox" name="marcoProjeto" id="marcoProjeto" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="table">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <lista-atividades-componente></lista-atividades-componente>
                            </div>
                        </div>
                    </div>
                                      
                </div>
            </div>
        </section>
        <section role="table">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <lista-dependencias-componente></lista-dependencias-componente>
                            </div>
                        </div>
                    </div>
                                      
                </div>
            </div>
        </section>
    
        <section role="controller">
            <div class="container footer-controller">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <router-link to="/etapa_basico">
                            <botao estilo="voltar" icone="voltar" 
                                rotulo="Voltar" @clicado="anteriorLink()">
                            </botao>
                        </router-link>
                        <router-link to="/etapa_basico">
                            <botao estilo="avancar" icone="ok-modal" 
                                rotulo="Confirmar" @clicado="proximoLink()">
                            </botao>
                        </router-link>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Botao from '@/components/shared/botao';
// import moment from 'moment';
import DependenciasComponente from './lista-dependencias.vue';
import AtividadesComponente from './lista-atividades.vue';

export default {
    name: 'Bens',

    data() {
        return {
            apiErrors: null
        }
    },
	
    methods: {
        anteriorLink() {
        },
        proximoLink() {
        }
    },

	mounted() {
		window.scrollTo(0, 0);
    },
    components: {
        botao: Botao,
        'lista-dependencias-componente': DependenciasComponente,
        'lista-atividades-componente': AtividadesComponente
    }
}
</script>

<style scoped>

</style>
