<template>
    <div>
        <section role="table">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <etapas-componente></etapas-componente>
                            </div>
                        </div>
                    </div>
                                      
                </div>
            </div>
        </section>
    
        <section role="controller">
            <div class="container footer-controller">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <router-link to="/unidade_basico">
                            <botao estilo="voltar" icone="voltar" 
                                rotulo="Voltar" @clicado="anteriorLink()">
                            </botao>
                        </router-link>
                        <router-link to="/revisao_basico">
                            <botao estilo="avancar" icone="avancar" :iconeDireita="true"
                                rotulo="Avançar" @clicado="proximoLink()">
                            </botao>
                        </router-link>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Botao from '@/components/shared/botao';
// import moment from 'moment';
import EtapasComponente from './lista-etapas.vue';

export default {
    name: 'Etapas',

    data() {
        return {
            apiErrors: null
        }
    },
	
    methods: {
        anteriorLink() {
        },
        proximoLink() {
        }
    },

	mounted() {
		window.scrollTo(0, 0);
    },
    components: {
        botao: Botao,
        'etapas-componente': EtapasComponente
    }
}
</script>

<style scoped>

</style>
