<template>
    <div>
        <section role="modal">
            <div class="modal fade" id="dependenciaModal" tabindex="-1" role="dialog" aria-labelledby="dependenciaModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="dependenciaModalLabel">Dependência</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form>
                                    <div class="row row-field">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                            <label for="vinculada">Atividade Vinculada</label>
                                            <select class="form-control">
                                                <option>Escolha</option>
                                                <option>Switches</option>
                                                <option>Racks</option>
                                            </select>
                                        </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="texto">Para que esta etapa seja realizada, a etapa acima deve </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="checkbox-default">
                                                <label >estar iniciada</label>
                                                <br>
                                                <input type="radio" name="estar" id="estar1" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="checkbox-default">
                                                <label >estar concluída</label>
                                                <br>
                                                <input type="radio" name="estar" id="estar2" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <botao estilo="cancela-modal" rotulo="Cancelar" icone="cancela-modal" 
                                dismiss="modal" @clicado="cancela()" >
                            </botao>
                            <botao estilo="ok-modal" rotulo="Incluir" icone="ok-modal" 
                                @clicado="valida()" >
                            </botao>
                        </div>
                    </div>
                </div>
            </div>            
        </section>

        <h4>Dependências</h4>
        <div class="table-responsive">
            <!-- <div class="alert alert-warning" role="alert" style="text-align: center"
                v-if="dependencias.length == 0">
                <i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;
                Para incluir um veículo, clique em NOVO.
            </div>        -->
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Etapa</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>Racks</td>
                        <td class="td-btns">
                            <botao estilo="editar-tabela" icone="editar-tabela"
                                toggle="modal" target="#dependenciaModal" @clicado="edita()" >
                            </botao>
                            <botao estilo="exclui-tabela" icone="exclui-tabela" 
                                @clicado="exclui()" >
                            </botao>
                        </td>
                    </tr>
                    <tr >
                        <td>Switches</td>
                        <td class="td-btns">
                            <botao estilo="editar-tabela" icone="editar-tabela"
                                toggle="modal" target="#dependenciaModal" @clicado="edita()" >
                            </botao>
                            <botao estilo="exclui-tabela" icone="exclui-tabela" 
                                @clicado="exclui()" >
                            </botao>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12 footer-controller">
                <botao estilo="novo-modal" rotulo="Novo" icone="novo-modal"
                    toggle="modal" target="#dependenciaModal" @clicado="novo()" >
                </botao>
            </div>
        </div>
    </div>
</template>
<script>
import Vue from 'vue';
import Botao from '@/components/shared/botao';
import moment from 'moment';

export default {
    name: 'Veiculos',

    data() {
        return {
            
            apiErrors: null
        }
    },

    methods: {
        novo() {
            
        },
        valida() {
      		
		},        
        inclui() {
            
        },
        cancela() {
            
        }, 
        edita() {
            
        },
        exclui() {
            

        },       
        obtemVeiculos() {
            
        }          
    },

    created() {
    },

    mounted(){
        jQuery('#dependenciaModal').on('hidden.bs.modal', (e) => this.cancela());
    },  

    components: {
        botao: Botao
    }      
}
</script>