<template>
    <div>
        <section role="modal">
            <div class="modal fade" id="recursoModal" tabindex="-1" role="dialog" aria-labelledby="recursoModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="recursoModalLabel">Recurso</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form>
                                    <div class="row row-field">
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label for="vinculada">Tipo</label>
                                                <select class="form-control">
                                                    <option>Escolha</option>
                                                    <option>Serviço</option>
                                                    <option>Equipamento</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label for="texto">Quantidade</label>
                                                <input type="text" name="numero" class="form-control" value="" id="numero" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label for="vinculada">Unidade</label>
                                                <select class="form-control">
                                                    <option>Escolha</option>
                                                    <option>metros</option>
                                                    <option>unidades</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label for="texto">Valor Total</label>
                                                <input type="text" name="numero" class="form-control" value="" id="numero" />
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-9">
                                            <div class="form-group">
                                                <label for="vinculada">Fonte Pagadora</label>
                                                <select class="form-control">
                                                    <option>Escolha</option>
                                                    <option>Tesouro Municipal</option>
                                                    <option>Repasse de Verba</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <label for="texto">Valor</label>
                                                <input type="text" name="numero" class="form-control" value="" id="numero" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <botao estilo="cancela-modal" rotulo="Cancelar" icone="cancela-modal" 
                                dismiss="modal" @clicado="cancela()" >
                            </botao>
                            <botao estilo="ok-modal" rotulo="Incluir" icone="ok-modal" 
                                @clicado="valida()" >
                            </botao>
                        </div>
                    </div>
                </div>
            </div>            
        </section>

        <h4>Recursos</h4>
        <div class="table-responsive">
            <!-- <div class="alert alert-warning" role="alert" style="text-align: center"
                v-if="dependencias.length == 0">
                <i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;
                Para incluir um veículo, clique em NOVO.
            </div>        -->
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Quantidade</th>
                    <th>Unidade</th>
                    <th>Valor</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>Equipamento</td>
                        <td>15.000</td>
                        <td>metros</td>
                        <td>6.000,00</td>
                        <td class="td-btns">
                            <botao estilo="editar-tabela" icone="editar-tabela"
                                toggle="modal" target="#recursoModal" @clicado="edita()" >
                            </botao>
                            <botao estilo="exclui-tabela" icone="exclui-tabela" 
                                @clicado="exclui()" >
                            </botao>
                        </td>
                    </tr>
                    <tr >
                        <td>Equipamento</td>
                        <td>35.000</td>
                        <td>metros</td>
                        <td>14.000,00</td>
                        <td class="td-btns">
                            <botao estilo="editar-tabela" icone="editar-tabela"
                                toggle="modal" target="#recursoModal" @clicado="edita()" >
                            </botao>
                            <botao estilo="exclui-tabela" icone="exclui-tabela" 
                                @clicado="exclui()" >
                            </botao>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12 footer-controller">
                <botao estilo="novo-modal" rotulo="Novo" icone="novo-modal"
                    toggle="modal" target="#recursoModal" @clicado="novo()" >
                </botao>
            </div>
        </div>
    </div>
</template>
<script>
import Vue from 'vue';
import Botao from '@/components/shared/botao';
import moment from 'moment';

export default {
    name: 'Veiculos',

    data() {
        return {
            
            apiErrors: null
        }
    },

    methods: {
        novo() {
            
        },
        valida() {
      		
		},        
        inclui() {
            
        },
        cancela() {
           
        }, 
        edita() {
            
        },
        exclui() {
            
        },       
        obtemVeiculos() {
            
        }          
    },

    created() {
        
    },

    mounted(){
        jQuery('#recursoModal').on('hidden.bs.modal', (e) => this.cancela());
    },  

    components: {
        botao: Botao
    }      
}
</script>