<template>
    <div>
        <h4>Etapas</h4>
        <div class="table-responsive">
            <!-- <div class="alert alert-warning" role="alert" style="text-align: center"
                v-if="dependencias.length == 0">
                <i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;
                Para incluir um veículo, clique em NOVO.
            </div>        -->
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Prazo</th>
                    <th>Valor</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>Entrega de material</td>
                        <td>12/04/2018</td>
                        <td>100.000,00</td>
                        <td class="td-btns">
                            <botao estilo="editar-tabela" icone="editar-tabela"
                                toggle="" target="" @clicado="edita()" >
                            </botao>
                            <botao estilo="exclui-tabela" icone="exclui-tabela" 
                                @clicado="exclui()" >
                            </botao>
                        </td>
                    </tr>
                    <tr >
                        <td>Instalação</td>
                        <td>12/07/2018</td>
                        <td>120.000,00</td>
                        <td class="td-btns">
                            <botao estilo="editar-tabela" icone="editar-tabela"
                                toggle="" target="" @clicado="edita()" >
                            </botao>
                            <botao estilo="exclui-tabela" icone="exclui-tabela" 
                                @clicado="exclui()" >
                            </botao>
                        </td>
                    </tr>
                    <tr >
                        <td>Homologação</td>
                        <td>12/12/2018</td>
                        <td>60.000,00</td>
                        <td class="td-btns">
                            <botao estilo="editar-tabela" icone="editar-tabela"
                                toggle="" target="" @clicado="edita()" >
                            </botao>
                            <botao estilo="exclui-tabela" icone="exclui-tabela" 
                                @clicado="exclui()" >
                            </botao>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12 footer-controller">
                <router-link to="/etapa_basico/detalha_etapa">
                    <botao estilo="novo-modal" rotulo="Novo" icone="novo-modal"
                        toggle="" target="" @clicado="novo()" >
                    </botao>
                </router-link>
            </div>
        </div>
    </div>
</template>
<script>
import Vue from 'vue';
import Botao from '@/components/shared/botao';
import moment from 'moment';

export default {
    name: 'ListaEtapas',

    data() {
        return {
            
            apiErrors: null
        }
    },

    methods: {
        novo() {
            
        },
        valida() {
      		
		},        
        inclui() {
            
        },
        cancela() {
            
        }, 
        edita() {
            
            this.$router.push('/etapa_basico/detalha_etapa')
        },
        exclui() {
            
        },       
        obtemVeiculos() {
            
        }          
    },

    created() {
        
    },

    mounted(){
        jQuery('#dependenciaModal').on('hidden.bs.modal', (e) => this.cancela());
    },  

    components: {
        botao: Botao
    }      
}
</script>