        * {box-sizing: border-box;}

        body, input, textarea, select, button {
            direction: ltr;
            font-feature-settings: "kern";
            text-align: left;
        }

        body {
            font-family: 'Source Sans Pro', helvetica, sans-serif;
            text-rendering: optimizelegibility;
            color: #697473;
            font-size: 14px;
            line-height: 1.42857143;
            margin: 0;
            display: block;
            padding-top: 217px;
            position: relative;
        }

        html {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }

/* Navbar */

        .front .navbar {
            border: 1px solid rgba(0, 0, 0, 0);
            margin-bottom: 0px;
            min-height: 53px;
            position: relative;
        }

        .navbar-default {
            background: #00615c none repeat scroll 0 0;
            border-color: #00615c;
            color: #ffffff;
            border-radius: 0;
        }

        .navbar .row {
            border-bottom: 1px solid #004f4a;
            margin: 0;
        }

        .navbar-brand-login {
            background-image: url(../images/LogoPMS.svg);
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center left;
            text-indent: -999px;
            width: 100%;
        }

        .navbar-brand-cadastro {
            background-image: url(../images/LogoPMS.svg);
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center left;
            text-indent: -999px;
            width: 100%;
        }

        .navbar-brand-cadastro-xs {
            background-image: url(../images/MeuLarLogoTransp.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center left;
            text-indent: -999px;
            width: 100%;
            height: 53px;
            margin-left: -25px;
        }

        .navbar-default .navbar-nav>li>a {
            color: #d7e7d7;
            font-size: 15px;
            font-weight: bold;
        }

        .navbar-fixed-top {
            border-width: thin;
        }

        .menu-header {
            background: #358a3f;
            margin-right: -15px;
            float: right;
            padding-right: 15px;
        }

        .menu-header-xs {
            background: transparent;
            padding-left: 15px;
            margin-right: -25px;
            margin-top: -5px;
            max-height: 53px;
        }

        .menu-header-left {
            background: #358a3f;
            height: 53px;
            width: 130px;
            margin-left: -15px;
        }

/* Banner */

.page-header-bg {
    overflow: hidden;
    position: relative;
    background: #00302e;
    margin-bottom: 20px;
    width: 100%;
}

.header-bg-cadastro {
    height: 144px;
    position: fixed;
    left: 0;
    top: 53px;
    z-index: 1000;
    transition: height 0.3s;
}

.header-bg-cadastro-sm-xs {
    height: 53px;
}

.header-bg-cadastro-encolhe {
    height: 53px;
}

        .logo-login {
            background-image: url(../images/MeuLarLogoTransp.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

.logo-cadastro {
    background-position: left center;
    height: 144px;
    transition: height 0.3s, opacity 0.3s;
}

.logo-cadastro-encolhe {
    height: 53px;
    opacity: 0;
}

/*Indicador de evolução (steps)*/

.container-step {
    /* padding-left: 145px; */
    padding-left: 13%;
    display: flex;
    align-items: center;
    height: 120px;
    transition: padding-left 0.3s, height 0.3s;
}

.container-step-sm-xs {
    padding-left: 15px;
    height: 53px;
}

.container-step-encolhe {
    padding-left: 0%;
    height: 53px;
}

.container-step-encolhe-lg {
    padding-left: 6.7%;
    height: 53px;
}

.step {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #007863;
    position: relative;
}

.center-step {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #00302e;
    padding-top: 15px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
}

.text-step {
    padding-top: 35px;
    margin-left: -15px;
    color: #007863;
    font-size: 12px;
    transition: opacity 0.3s;
}

.text-step-some {
    opacity: 0;
}

.step-end {
    width: 64px;
    height: 64px;
    transition: background-color 0.3s;
}

.step-some {
    background-color: #00302e;
}

.center-step-end {
    width: 50px;
    height: 50px;
}

.thumbs-up-step {
    width: 50px;
    height: 50px;
    color: #007863;
    font-size: 35px;
    position: absolute;
    top: 50%;
    right: 36%;
    transform: translateX(50%) translateY(-50%);
}

.text-step-end {
    padding-top: 71px;
    margin-left: -8px;
}

.inter-step {
    /*width: 80px;*/
    width: 95px;
    height: 6px;
    background: #007863;
}

.step-done {
    background: #b8bf49;
}

.text-done {
    color: #b8bf49;
}

.text-done-xs {
    font-weight: 900;
    font-size: 18px;
    padding-top: 5px;
}

.text-number-xs {
    font-weight: 900;
    font-size: 18px;
    color: #00302e;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
}

/* Cards */

        .card {
            background: #FFFFFF;
            border: 1px solid rgba(65,76,76,0.20);
            box-shadow: 0 2px 2px 1px #D8D8D8;
            border-radius: 8px;
            overflow: hidden;
            transition: all 180ms ease 0s;
        }

        .card-banner {
            background: #00615c none repeat scroll 0 0;
            overflow: hidden;
        }

        .card-default {
            color: #697473;
            margin-bottom: 20px;
        }

        .card-default h3, h4 {
            color: #00615C;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .card-content {
            padding: 0px 20px 20px;
        }

        .card-content-end {
            padding-top: 20px;
            text-align: center;
        }

/* Container */

        .main-container .container {
            position: relative;
        }

        .container-login {
            max-width: 100%;
            padding: 30px;
            text-align: center;
            color: #d7e7d7;
        }

        .container-input {
            padding-top: 15px;
            max-width: 100%;
        }

        .container-input-text {
            text-align: left;
        }

/* Panel */

.panel-title-light {
    font-weight: normal;
    color: #044742;
    font-size: 18px;
}

/* Componentes de formulários */

/* Form button */

        .btn-lg {
            border-radius: 8px;
        }

        .btn-sm {
            border-radius: 6px;

        }

        .btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
            text-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            background-image: none;
        }

        .btn-default {
            color: #959595;
            border: 2px solid;
            border-radius: 6px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .btn-default:hover, .btn-default:hover:focus {
            background: transparent;
            border: 2px solid;
            color: #63605d;
            text-transform: uppercase;
        }

        .btn-default:active, .btn-default:focus, .btn-default:target, .btn-default:active:focus {
            background: #959595;
            border-color: #3d3d3d;
            color: #fff;
        }

        .btn-danger {
            background: transparent;
            border: 2px solid;
            border-radius: 6px;
            color: #8C1E26;
        }

        .btn-danger:hover {
            background: transparent;
            border: 2px solid;
            color: #BB8261;
        }

        .btn-primary {
            background: transparent;
            color: #468B35;
            border: 2px solid;
            border-radius: 6px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .btn-primary:hover, .btn-primary:hover:focus {
            background: transparent;
            border: 2px solid;
            color: #A1BE4D;
            text-transform: uppercase;
        }

        .btn-primary:active, .btn-primary:focus, .btn-primary:target, .btn-primary:active:focus {
            background-color: #468b35;
            border-color: #044742;
            color: #fff;
        }

        .btn-next {
            float: right;
        }

        .btn-previous {
            float: left;
        }

        .btn-success {
            color: #d7e7d7;
            border-color: #3e8f3e;
            background-color: #419641;
        }

        .btn-success:hover {
            color: #d7e7d7;
            border-color: #358a3f;
            background-color: #3D873D;
        }

        .btn-subscribe {
            margin-top: 20px;
            margin-bottom: 20px;
            display: block;
        }

        .btn-print {
            margin-top: 60px;
            margin-bottom: 60px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

/* Form input */

        .input-group-addon {
            padding: 6px 6px;
            background-color: #FFFFFF;
            border: 1px solid #49a649;
            border-radius: 8px;
            border-right-style: none;
        }

        .form-control-login {
            padding: 6px 6px;
            height: 40px;
            border: 1px solid #49a649;
            border-radius: 8px;
            border-left-style: none;
            box-shadow: none;
        }

        .form-control-login:focus, .form-control:focus {
            border-color: #66e9bf;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(22,128,111,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(22,128,111,.6);
        }

        input[type=checkbox], input[type=radio] {
            width: 20px;
            height: 20px;
        }

        .error {
            color: #8C1E26;
        }

/* Tables */

        .table>tbody>tr>td {
            padding: 4px 8px;
            vertical-align: middle;
        }

        .td-btns {
            width: 105px;
        }

/* Footer */

        .footer {
            background: #00302e;
            font-size: 12px;
            width: 100%;
            color: #C1D1C1;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 10px;
            position: absolute;
            left: 0;
            bottom: -110px;
        }

        .footer-fixed {
            position: fixed;
            bottom: 0px;
        }

/* Paginacao */

.pagination li a {
    color: #367a36;
}

.pagination li a:hover {
    color: #00302e;
}

/* Ids */

        #header-bg-login {
            height: 215px;
            margin-bottom: 0;
        }

        #navbar {
            margin-bottom: 0;
            min-height: 53px;
        }

        #login {
            margin-top: -30px;
            margin-bottom: 30px;
        }

        #login-description {
            padding-top: 5px;
            border: none;
            box-shadow: none;
        }

        #header-bg-index {
            height: 144px;
            margin-bottom: 5px;
        }

        #fachada {
            -webkit-filter: saturate(0%);
            filter: saturate(0%);
            opacity: 0.6;
            width: 100%;
            transition-property: opacity filter;
            transition-duration: 2s;
        }
        
        #fachada:hover {
            -webkit-filter: saturate(100%);
            filter: saturate(100%);
            opacity: 1;
        }
