<template>
  <div>
    <div class="panel panel-default">
  	  <div class="panel-heading">
  	    <h3 class="panel-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Sem acesso</h3>
  	  </div>
  	  <div class="panel-body">
          Você não possui acesso a esta página! 
  	  </div>
  	</div>
  </div>
</template>
<script>
export default {
  name: 'Forbidden'
}
</script>
