<template>
    <section role="menu">
        <nav class="navbar navbar-default">
            <div class="container" style="padding-left: 0px">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="secondaryNav" style="padding-left: 0px">
                        <!-- <ul class="nav nav-pills scroll-horizontal"> -->
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" :class="projetosAtivo" data-toggle="dropdown" role="button" 
                                    aria-haspopup="true" aria-expanded="false">
                                    Projetos
                                </a>
                                <ul class="dropdown-menu">
                                    <li><router-link to="/projeto_basico">Básico</router-link></li>
                                    <li><router-link to="/projeto_executivo">Executivo</router-link></li>
                                </ul>
                            </li>
                            <li><router-link to="/manutencao">
                                    Gestão
                                </router-link>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" :class="cadastroAtivo" data-toggle="dropdown" role="button" 
                                    aria-haspopup="true" aria-expanded="false">
                                    Cadastro
                                </a>
                                <ul class="dropdown-menu">
                                    <li><router-link :to="{name: 'Empresas'}">Empresas</router-link></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" :class="relatoriosAtivo"  data-toggle="dropdown" role="button" 
                                    aria-haspopup="true" aria-expanded="false">
                                    Relatórios
                                </a>
                                <ul class="dropdown-menu">
                                    <li><router-link to="/manutencao">Gerencial</router-link></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" :class="configuracaoAtivo"  data-toggle="dropdown" role="button" 
                                    aria-haspopup="true" aria-expanded="false">
                                    Configuração
                                </a>
                                <ul class="dropdown-menu">
                                    <li><router-link to="/manutencao">Usuários</router-link></li>
                                    <li><router-link to="/manutencao">Perfis</router-link></li>
                                    <li><router-link to="/manutencao">Avisos</router-link></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </section>
</template>

<script>
export default {
    name: 'barra-menu',

    props: {
        rotas: {
            type: Array,
            required: true
        },
        projetosVisitado: {
            type: Boolean,
            required: false
        },
        cadastroVisitado: {
            type: Boolean,
            required: false
        },
        relatoriosVisitado: {
            type: Boolean,
            required: false
        },
        configuracaoVisitado: {
            type: Boolean,
            required: false
        },
    },
    computed: {
        projetosAtivo() {
            if(this.projetosVisitado) return 'active'
        },
        cadastroAtivo() {
            if(this.cadastroVisitado) return 'active'
        },
        relatoriosAtivo() {
            if(this.relatoriosVisitado) return 'active'
        },
        configuracaoAtivo() {
            if(this.configuracaoVisitado) return 'active'
        },
    },
    methods: {
        encolhe() {
           
        }
    },
    created() {
    },
    destroyed() {
    }
}
</script>

<style scoped>
.navbar {
    margin-bottom: 0px;
    min-height: 53px;
    position: relative;
}

.navbar-default {
    background: #00615c none repeat scroll 0 0;
    border-color: #00615c;
    border-bottom: 1px solid #004f4a;
    color: #ffffff;
    border-radius: 0;
    margin-bottom: 20px;
    width: 100%;
    height: 53px;
    position: fixed;
    left: 0;
    top: 53px;
    z-index: 900;
}

.page-header-bg {
    overflow: hidden;
    position: relative;
    background: #00615c;
    margin-bottom: 20px;
    width: 100%;
    height: 53px;
}

.header-bg-cadastro {
    position: fixed;
    left: 0;
    top: 53px;
    border-bottom: 1px solid #004f4a;
}

ul {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin: 0 0 2.2rem;
}

.nav > li {
    display: block;
    margin-top: 8px;
    position: relative;
}

.navbar-nav > li > a {
    border-radius: 0;
    color: #a1be4d;
    display: block;
    font-size: 0.85em;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-transform: uppercase;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover,
.navbar-nav > li > a:visited {
    background-color: rgba(0,0,0,0);
    border-bottom: 3px solid;
    text-decoration: none;
    border-radius: 0;
    color: #a1be4d;
    display: block;
    font-size: 0.85em;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-transform: uppercase;
}

.dropdown-menu {
    font-size: 0.9em;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:active {
    background-color: rgba(0,0,0,0);
    color: #a1be4d;
}

.dropdown-menu > li > a {
    color: #468B35;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #A1BE4D;
    background-color: #eefceb;
}

</style>
