<template>
    <div>
        <section role="modal">
            <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="infoModalLabel">Informações</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form>
                                    <div class="row row-field">
                                        <div class="col-md-5 col-sm-5">
                                            <div class="form-group">
                                                <label for="numero">Data Inserção</label>
                                                <date-picker v-model="dataCalendario" name="dataNascimento" id="dataNascimento" :config="config"></date-picker>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="descritivo">Observação</label>
                                                <textarea name="descritivo" class="form-control" value="" id="descritivo" rows="4" ></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <botao estilo="cancela-modal" rotulo="Cancelar" icone="cancela-modal" 
                                dismiss="modal" @clicado="cancela()" >
                            </botao>
                            <botao estilo="ok-modal" rotulo="Incluir" icone="ok-modal" 
                                @clicado="valida()" >
                            </botao>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="form">
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Contrato</h4>
                                <div class="row">
                                    <form>
                                        <div class="row row-field">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Nº Proposta</label>
                                                    <input type="text" name="numero" class="form-control" value="" id="numero" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Nº Contrato</label>
                                                    <input type="text" name="numero" class="form-control" value="" id="numero" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="SecretariaResponsavel">Responsável <small>(Contrato)</small></label>
                                                    <select class="form-control">
                                                        <option value="" selected>Escolha</option>
                                                        <option value="" >COTI</option>
                                                        <option value="" >COENGI</option>
                                                        <option value="" >SAAF-SEGES</option>
                                                        <option value="" >SAAF-DETIC</option>  
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-field">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Modalidade</label>
                                                    <input type="text" name="numero" class="form-control" value="" id="numero" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="numero">Nº Convênio</label>
                                                    <input type="text" name="numero" class="form-control" value="" id="numero" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="SecretariaResponsavel">Responsável <small>(Convênio)</small></label>
                                                    <select class="form-control">
                                                        <option value="" selected>Escolha</option>
                                                        <option value="" >COTI</option>
                                                        <option value="" >COENGI</option>
                                                        <option value="" >SAAF-SEGES</option>
                                                        <option value="" >SAAF-DETIC</option>  
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-container container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4 style="margin-bottom: 14px">Informações</h4>
                                <div class="table-responsive">
                                    <!-- <div class="alert alert-warning" role="alert" style="text-align: center"
                                        v-if="dependencias.length == 0">
                                        <i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;
                                        Para incluir um veículo, clique em NOVO.
                                    </div>        -->
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Observação</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr >
                                                <td>12/04/2018</td>
                                                <td>Contrato nº 349/2017 - 6º aditamento - Assinado...</td>
                                                <td class="td-btns td-btns-alone">
                                                    <botao estilo="editar-tabela" icone="editar-tabela"
                                                        toggle="modal" target="#infoModal" @clicado="edita()" >
                                                    </botao>
                                                    
                                                </td>
                                            </tr>
                                            <tr >
                                                <td>20/05/2018</td>
                                                <td>Prorrogado prazo de execução por 03 meses...</td>
                                                <td class="td-btns-alone">
                                                    <botao estilo="editar-tabela" icone="editar-tabela"
                                                        toggle="modal" target="#infoModal" @clicado="edita()" >
                                                    </botao>
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-md-12 footer-controller">
                                        <botao estilo="novo-modal" rotulo="Novo" icone="novo-modal"
                                            toggle="modal" target="#infoModal" @clicado="edita()" >
                                        </botao>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="controller">
            <div class="container footer-controller">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <botao estilo="voltar" rotulo="Voltar" icone="voltar" @clicado="anteriorLink()">
                        </botao>
                        <botao estilo="avancar" icone="avancar" :iconeDireita="true"
                            rotulo="Avançar" @clicado="proximoLink()">
                        </botao>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Botao from '@/components/shared/botao'
import moment from 'moment'

export default {
    name: 'Projeto',
    
    data() {
        return {
            
            dataCalendario: new Date(),
            config: {
                format: 'L',
                useCurrent: false,
                locale: 'pt-br',
                maxDate: moment(new Date()),
                minDate: moment(new Date()).add(-100, 'years')
            },
            apiErrors: null
        }
    },
	
    methods: {
         
        anteriorLink() {
            this.$router.go(-1)
        },
        
        proximoLink() {
            this.$router.push({name: 'NumerosExecutivo'});
        }
    },

    created() {
        
    },
	
	mounted() {
        window.scrollTo(0, 0);
    },

    computed: {
        
    },

    components: {
        botao: Botao
	}
}
</script>

<style scoped>
.card {
    overflow: visible;
}
</style>
