<template>
    <div>
        <section role="form">
            <div class="main-container container container-top">
                <div class="row" style="padding-top: 10px">
                    <div class="col-md-6">
                        <div class="card card-default">
                            <div class="card-content">
                                <h2>Avisos</h2>
                                <div class="row">
                                    <form>
                                        <div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label for="descritivo">26/02/2018&nbsp;<i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></label>
                                                    <p>Prazo de etapa do Projeto MeuLar vence essa semana.</p>
                                                </div>
                                                <div class="form-group">
                                                    <label for="descritivo">25/02/2018&nbsp;<i class="fa fa-envelope-open-o fa-fw" aria-hidden="true"></i></label>
                                                    <p>Cadastrar todos os projetos até 5º dia útil para o PDR.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-default">
                            <div class="card-content">
                                <h2>Projetos</h2>
                                <div class="row">
                                    <form>
                                        <div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label for="descritivo">Projeto MeuLar</label>
                                                    <p>Projeto que visa facilitar a aquisição da casa própria...</p>
                                                </div>
                                                <div class="form-group">
                                                    <router-link to="/projeto_basico/detalha_projeto">
                                                        <label for="descritivo">Interligação Unidades Caruara</label>
                                                        <p>Projeto de conexão de rede entre unidades do Caruara...</p>
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
    </div>
</template>

<script>

export default {
    name: 'Avisos',
    
    data() {
        return {
            apiErrors: null
        }
    },
	
    methods: {
        valida() {
      		
        },    
       
        proximoLink() {
                       
        }
    },

    created() {
        
    },
	
	mounted() {
        window.scrollTo(0, 0);
    },

    computed: {
        
    },

    components: {
       
	}
}
</script>

<style scoped>
.card {
    overflow: visible;
}

.form-group > a, .form-group > a:visited {
    color: #697473;
}

.form-group > a:hover, .form-group > a:focus {
    color: #a1be4d;
}
</style>
