<template>
    <section role="footer" class="footer" id="footer">
        <p>Prefeitura de Santos 
            <br />
            Secretaria Municipal de Desenvolvimento Econômico e Inovação (SEDES)
            <br />
            Departamento de Ciência, Tecnologia e Inovação (DETEC)
            <br />
            Versão: 1.0.0 - 2018
        </p>
    </section>
</template>

<script>
export default {
    name: 'rodape'
}

</script>

<style>
.footer {
    background: #00302e;
    font-size: 12px;
    width: 100%;
    color: #C1D1C1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    bottom: -111px;
}
</style>
