<template>
    <div>
        <section role="modal">
            <div class="modal fade" id="enderecoModal" tabindex="-1" role="dialog" aria-labelledby="enderecoModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="enderecoModalLabel">Empresa</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form>
                                    <div class="row row-field">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="form-group">
                                                <label for="logradouro">Nome</label>
                                                <input type="text" name="logradouro" class="form-control" value="" id="logradouro" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="numero">CNPJ</label>
                                                <input type="text" name="numero" class="form-control" value="" id="numero" />
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="bairro">Descrição</label>
                                                <input type="text" name="bairro" class="form-control" value="" id="bairro" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-field">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="form-group">
                                                <label for="logradouro">Logradouro</label>
                                                <input type="text" name="logradouro" class="form-control" value="" id="logradouro" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="numero">Número</label>
                                                <input type="text" name="numero" class="form-control" value="" id="numero" />
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="bairro">Bairro</label>
                                                <input type="text" name="bairro" class="form-control" value="" id="bairro" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <botao estilo="cancela-modal" rotulo="Cancelar" icone="cancela-modal" 
                                dismiss="modal" @clicado="cancela()" >
                            </botao>
                            <botao estilo="ok-modal" rotulo="Incluir" icone="ok-modal" 
                                @clicado="valida()" >
                            </botao>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="form">
            <div class="main-container container container-top">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-content">
                                <h4>Empresas</h4>
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <input type="text" name="titulo" class="form-control" value="" id="titulo"
                                                placeholder="Nome" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <input type="text" name="unidade" class="form-control" value="" id="unidade"
                                                placeholder="CNPJ" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <input type="text" name="tipo" class="form-control" value="" id="tipo"
                                                placeholder="Endereço" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1" style="padding-bottom: 25px">
                                        <botao estilo="novo-modal" rotulo="Buscar" icone="buscar" style="float: left"
                                            toggle="modal" target="#planoGovernoModal" @clicado="novo()" >
                                        </botao>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <!-- <div class="alert alert-warning" role="alert" style="text-align: center"
                                        v-if="dependencias.length == 0">
                                        <i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;
                                        Para incluir um veículo, clique em NOVO.
                                    </div>        -->
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>CNPJ</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr >
                                                <td>Embraport Empresa Brasileira Terminais Portuários</td>
                                                <td>21.173.691/0001-03</td>
                                                <td class="td-btns">
                                                    <botao estilo="editar-tabela" icone="editar-tabela"
                                                        toggle="modal" target="#enderecoModal" @clicado="novo()" >
                                                    </botao>
                                                    <botao estilo="exclui-tabela" icone="exclui-tabela"
                                                        toggle="" target="" @clicado="exclui()" >
                                                    </botao>
                                                </td>
                                            </tr>
                                            <tr >
                                                <td>Fagmax Transportes - Transportadora de Santos/SP</td>
                                                <td>15.958.575/0001-99</td>
                                                <td class="td-btns">
                                                    <botao estilo="editar-tabela" icone="editar-tabela"
                                                        toggle="modal" target="#enderecoModal" @clicado="novo()" >
                                                    </botao>
                                                    <botao estilo="exclui-tabela" icone="exclui-tabela"
                                                        toggle="" target="" @clicado="exclui()" >
                                                    </botao>
                                                </td>
                                            </tr>
                                            <tr >
                                                <td>Construtora Miramar</td>
                                                <td>06.078.026/0001-39</td>
                                                <td class="td-btns">
                                                    <botao estilo="editar-tabela" icone="editar-tabela"
                                                        toggle="modal" target="#enderecoModal" @clicado="novo()" >
                                                    </botao>
                                                    <botao estilo="exclui-tabela" icone="exclui-tabela"
                                                        toggle="" target="" @clicado="exclui()" >
                                                    </botao>
                                                </td>
                                            </tr>
                                            <tr >
                                                <td>Kallas Construtora e Incorp.</td>
                                                <td>94.230.777/0001-96</td>
                                                <td class="td-btns">
                                                    <botao estilo="editar-tabela" icone="editar-tabela"
                                                        toggle="modal" target="#enderecoModal" @clicado="novo()" >
                                                    </botao>
                                                    <botao estilo="exclui-tabela" icone="exclui-tabela"
                                                        toggle="" target="" @clicado="exclui()" >
                                                    </botao>
                                                </td>
                                            </tr>
                                            <tr >
                                                <td>BKO Incorporadora</td>
                                                <td>23.416.167/0001-33</td>
                                                <td class="td-btns">
                                                    <botao estilo="editar-tabela" icone="editar-tabela"
                                                        toggle="modal" target="#enderecoModal" @clicado="novo()" >
                                                    </botao>
                                                    <botao estilo="exclui-tabela" icone="exclui-tabela"
                                                        toggle="" target="" @clicado="exclui()" >
                                                    </botao>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    <div class="col-md-12 footer-controller">
                                        <span class="col-md-2" 
                                            style="color: #63605d; font-weight: 900; padding-left: 0; ">
                                            Pág. 1
                                        </span>
                                        <span class="col-md-8" style="color: #63605d; font-weight: 900; text-align: center">
                                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;
                                            1 de 120 &nbsp;
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        </span>
                                        <botao estilo="novo-modal" rotulo="Novo" icone="novo-modal"
                                            toggle="modal" target="#enderecoModal" @clicado="novo()" >
                                        </botao>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Vue from 'vue';
import Botao from '@/components/shared/botao';
import moment from 'moment';

export default {
    name: 'Empresas',

    data() {
        return {
            
            apiErrors: null
        }
    },

    methods: {
        novo() {
            
        },
        valida() {
      		
		},        
        inclui() {
            
        },
        cancela() {
            
        }, 
        edita() {
            
            this.$router.push({ name: 'Manutencao' })
        },
        exclui() {
            

        },       
        obtemVeiculos() {
            
        }          
    },

    created() {
        
    },

    mounted(){
    },  

    components: {
        botao: Botao
    }      
}
</script>